.footer{
	position:relative;
	z-index:5;
}
.footer-info{
	background-color:#242529;
	color:#FFF;
	padding-top:60px;
	padding-bottom:60px;
	@media screen and (min-width: 1600px) {
		padding-left:8.33333333%;
		padding-right:8.33333333%;
	}
	.footer-info__info{ 
		padding:0;
		margin:0;
		li{ 
			list-style:none;
			margin-bottom:30px;
			list-style-position:inside;
			font-size:0.8em;
			line-height:1.6em;
			> i{ 
				width:1.8em;
				text-align:center;
				text-indent:0em;
			}
		}
		li:not(:first-child){
			padding-left:1.8em;
			text-indent:-1.8em;
		}
	}
	.footer-info__social{
		@media screen and (min-width:768px) {
			padding-top:120px;
		}
		.footer-info__social-youtube{ 
			vertical-align:middle;
			display:inline-block;
			width:58px;
			height:58px;
			border-radius:50%;
			text-align:center;
			margin:10px 15px 10px 0px;
			background-color:#FFF;
			> i{ 
				line-height:58px;
				color:#ff0000;
				font-size:40px;
			}
		}
		.footer-info__social-facebook{
			vertical-align:middle;
			display:inline-block;
			width:58px;
			height:58px;
			border-radius:50%;
			text-align:center;
			margin:10px 0px 10px 15px;
			background-color:#4267b2;
			> i{
				color:#FFF;
				font-size:50px;
				line-height:64px;
				border-radius:50%;
			}
		}
	}
	.footer-info__sitemap{
		> ul{
			margin:0;
			padding:0;
			> li{
				list-style:none;
				> span{
					font-size:1.0em;
					display:inline-block;
					margin-top:50px;
					margin-bottom:40px;
					color:#FFF;
					text-align:left;
				}
				> a {
					font-size:0.8em;
					display:inline-block;
					margin-top:50px;
					margin-bottom:40px;
					color:#FFF;
					text-align:left;
					position:relative;
					text-decoration:none;
					&:hover, &:focus, &:active{
						box-shadow:0 1px #FFF;
					}
				}
				ul{
					margin:0;
					padding:0;
					li{
						list-style:none;
						a{
							font-size:0.9em;
							color:#a7a8aa;
							margin:6px 0;
							display:inline-block;
							position:relative;
							text-decoration:none;
							&:hover, &:focus, &:active,
							&:hover:hover, &:hover:focus, &:hover:active,
							&:focus:hover, &:focus:focus, &:focus:active,
							&:active:hover, &:active:focus, &:active:active{
								box-shadow:0 1px #a7a8aa;
								text-decoration:none;
							}
						}
					}
				}
			}
		}
	}
	.footer-info__contact{ 
		.footer-info__contact-title{
			font-size:1em;
			line-height:1.875em;
		}
		.footer-info__contact-text{
			font-size:0.8em;
			line-height:1.875em;
			.contact-email {
				.fa-envelope {
					width: 22px;
					text-align: center;
					font-size: 1.2em;
					margin-right: 5px;
					vertical-align: middle;
				}
			}
			.contact-add {
				.fa-map-marker-alt{
					width: 22px;
					text-align: center;
					margin-right: 5px;
					vertical-align: middle;
				}
				.contact-add__space{ 
					display:block;
					padding-left:22px + 5px;
					@media screen and (min-width:992px) {
					display:inline-block;	
					padding-left:2em;
					}
				}
			}
			@media screen and (min-width:1200px) {
			.col-lg-pull-1{
				right: 0%;
			}
			}
			@media screen and (min-width:1900px) {
			.col-lg-pull-1{
				right: 8.33333333%;
			}
			}
		}
	}
}
.footer-products{
	font-size:1.0em;
	background-color:#242529;
	border-top:1px solid #4b4d54;
	color:#FFF;
	padding-top:45px;
	padding-bottom:45px;
	@media screen and (min-width: 1600px) {
		padding-left:8.33333333%;
		padding-right:8.33333333%;
	}
	.footer-products__title{
		margin-right:60px;
	}
    .footer-products__content{
        display: inline-flex;
        align-content: flex-start;
        flex-direction: column;
        @media screen and (min-width: 768px) {
        flex-direction: row;
        }
    }
	.footer-products__item{
		min-width:114px;
		height: auto;
		display:inline-block;
		vertical-align:middle;
		margin:15px 20px 15px 0px;
        text-decoration: none;
        @media screen and (min-width: 768px) {
        max-width:114px*2;    
        }
		&:first-child{
			margin-left:0;
		}
		> img{
            background-color:#FFF;
			width:114px;
		    height:114px;
            margin: 0 auto;
		}
        .footer-products__name{
            color: #fff; 
            font-size: .8em;
            text-align: center;
            margin-top: .5rem;
        }
	}
    > .container-fluid > .row > div {
        @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        }
    }
}
.footer-info-simple{
	.footer-info__social{
		@media screen and (min-width:768px) {
			text-align:center;
			padding-top:30px;
		}
	}
	.footer-info__contact{ 
		@media screen and (min-width:768px) {
			padding-top:30px;
		}
	}
}
.footer-copyright{
	font-size:0.8em;
	background-color:#242529;
	border-top:1px solid #4b4d54;
	color:#FFF;
	padding-top:45px;
	padding-bottom:45px;
	text-align:center;
}