.text-gray-100{ color: #f8f9fa; }
.text-gray-200{ color: #e9ecef; }
.text-gray-300{ color: #dee2e6; }
.text-gray-400{ color: #ced4da; }
.text-gray-500{ color: #adb5bd; }
.text-gray-600{ color: #6c757d; }
.text-gray-700{ color: #495057; }
.text-gray-800{ color: #343a40; }
.text-gray-900{ color: #212529; }

.text-purple  { color: $purple; }
.text-pink    { color: $pink;   }
.text-teal    { color: $teal;   }
.text-green   { color: $green;  }