.page-banner.course{
	background-image:url(../images/course/banner-bg.jpg);
	background-position:right center;
	@media screen and (min-width: 768px) {
	background-position:left center;
	}
	@media screen and (min-width: 992px) {
	background-position:center center;
	}
	h1{ 
		font-size:1.8em;
		font-weight:400;
		line-height:1em;
		margin-top:10px;
		margin-bottom:30px;
		color:#FFF;
		text-align:left;
	}
	p{
		font-size:0.9em;
		line-height:1.875em;
		color:#FFF;
		text-align:left !important;
	}
}

.course-search{
	margin-top:40px;
	margin-bottom:40px;
	text-align:right;
	font-size:0.8em;
	color:$default-gray;
	.SR-form-select{
		margin-left:10px;
	}
}
.course-paper__float-download{
    font-size: .8em;
    color: $main-color !important; 
    background-color: transparent !important;
    border: none;
    text-align: center;
    z-index: 1000;
    right:10px;
    text-decoration: none;
    opacity: .75;
    @media screen and (min-width: 1400px) {
    opacity: 1;    
    }
    @media screen and (min-width: 1400px) {
    right: calc((100vw - 1170px - 15px - 15px)/2 - 64px - 30px);    
    }
    &.fixed{ 
        position: fixed; 
        top: calc(100% - 64px - 1rem - 40px); 
        bottom: auto;
    }
    &.absolute{ 
        position: absolute; 
        top:auto; 
        bottom: 40px + 76px;
    }
    .float-download__img{
        display: block;
        width: 64px;
        height: 64px;
        background-color: $main-color !important;
        border-radius: 100%; 
        background-image: url("../images/course-paper/download.png") !important;
        background-position: center top 4px !important;
        background-repeat: no-repeat !important;
        background-size: 44px 48px !important;
    }
    
    &:hover{
        color: lighten($main-color, 10%) !important; 
        text-decoration: none;
        opacity: 1;  
        .float-download__img{
            background-color: lighten($main-color, 10%) !important;     
        }
    }
    @media print {
        display: none;
    }
}