.Dcheck-style{
    background-color:#FFF;
    color:#5c6466;
    font-size:0.8em;
    border:1px solid #c6c6c6;
    padding: 2px 20px;
    margin:4px 0px;
    display:inline-block;
    border-radius:0;
    overflow: hidden;
    
    /*width:calc(50% - 5px);
    @media screen and (min-width: 768px) {
    width:calc(25% - 5px);
    }
    @media screen and (min-width: 1200px) {
    width:calc(16.66% - 5px);	
    }*/
    &:hover, &.hover{
        padding: 2px 20px;
        border-color: $main-color;
        color:$main-color;
        box-shadow:none;
    }
    &:active, &.active{
        border-color: $main-color;
        color:$main-color;
        box-shadow:none;
        position:relative;
        &::after{
            content:"";
            display:block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 9px 9px;
            border-color: transparent transparent $main-color transparent;
            position:absolute;
            bottom:0;
            right:0;
            z-index:1;
        }
    }
}