.file-preview.file-preview-custom{
   border: none;
    padding: 0; 
    margin-bottom: 15px;
     .file-drop-zone {
         border: 1px solid #ccc;
         margin: 0; 
         display: flex;
         align-items: center;
         justify-content: center;
    }
    .file-drop-zone.clickable{
        &:hover, &:focus {
            border: 1px solid #ccc;
            background-color: rgba($main-color, .1);    
        }
    }
    .krajee-default.file-preview-frame,
    .krajee-default.file-preview-frame:hover{
        border: none;
        box-shadow: none;
        padding: 0;
    }
    .krajee-default.file-preview-frame .kv-file-content{
        height: auto;
    }
}