[class*="SRradioRound-"] {
	padding-left:30px;
	min-height:22px;
	position:relative;
	
	>input[type="radio"] {
		display:none;
	}
	>label{
		cursor:pointer;
		&::before{
			content:"";
			display:block;
			width:22px;
			height:22px;
			border-radius:50%;
			border:1px solid #ccc;
			position:absolute;
			top:0;
			left:0;
		}
		&::after{
			content:"";
			display:block;
			width:14px;
			height:14px;
			border-radius:50%;
			background-color:#ccc;
			position:absolute;
			top:4px;
			left:4px;
		}
	}
	
}
[class*="SRradioRound-"]:hover{
	>label{
		cursor:pointer;
		&::before{
			border:1px solid darken(#ccc, 20%);
		}
		&::after{
			background-color:darken(#ccc, 20%);
		}
	}
}
[class*="SRradioRound-"]{
	>input[type="radio"]{
		&.disabled, &[disabled], &[disabled="disabled"]{
			+ label{
				cursor:default;
				&::before{
					border:1px solid #ccc;
					opacity: 0.65; 
    				filter: alpha(opacity=65);
				}
				&::after{
					background-color:#ccc;
					opacity: 0.65; 
    				filter: alpha(opacity=65);
				}
			}
		}
	}
}
.SRradioRound-green{
	>input[type="radio"]:checked + label{ 
		&::after{
			background-color:#6cc868;
		}
	}
}