.table-align-left{
	display:table;
}
.table-align-center{
	display:table;
	margin:0 auto;
}
.table-align-right{ 
	display:table;
	float:right;
}
.table-align-top{
	display:table-cell;
	vertical-align:top;
}
.table-align-middle{
	display:table-cell;
	vertical-align:middle;
}
.table-align-bottom{
	display:table-cell;
	vertical-align:bottom;
}
.table-align-middle, .table-align-bottom{
	img{
		max-height:100%;
	}
}
