.userScore {
	font-size:16px;
	font-weight: 400;
	display: inline-block;
	width:32px;
	height:32px;
	line-height: 1.9;
	text-align:center;
	&.bySystem{
		border-radius:50%;
		&.passed{
			color:#fff;
			background-color:#43a047;
		}
		&.failed{
			color:#fff;
			background-color:#ff5e5e;
		}
	}
	&.byTeacher{
		border-radius:3px;
		color:#FFF;
		vertical-align:middle;
		&.passed{
			color:#fff;
			background-color: #43a047;
			border:1px solid #43a047;
		}
		&.failed{
			color:#fff;
			background-color: #ff5e5e;
			border:1px solid #ff5e5e;
		}
	}
}

button {
	.userScore {
		&.bySystem{
			&.passed{
				&:hover{
					background-color:darken(#43a047, 5%);
				}
			}
			&.failed{
				&:hover{
					background-color:darken(#ff5e5e, 10%);
				}
			}
		}
		&.byTeacher{
			&.passed{
				&:hover{
					background-color: darken(#43a047, 5%);
					border:1px solid darken(#43a047, 5%);
				}
			}
			&.failed{
				&:hover{
					background-color: darken(#ff5e5e, 10%);
					border:1px solid darken(#ff5e5e, 10%);
				}
			}
		}
	}
}