/*DataTables-1.13.4*/
.dataTables_wrapper {
	position: relative;
	.dataTables_processing{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-color: transparent;
		background-color: rgba($white, $btn-disabled-opacity);
		width: 100%;
        margin-left: 0; 
        margin-top: 0;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		> div:last-child > div {
			background: $primary;
		}
	}
	.datatables-custom-header{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		color: $gray-800;
		padding-top: .5rem;
		.dt-buttons{ 
			.dt-button{
				padding: .325rem .75rem;
				margin: .125rem .125rem .125rem 0;
				border:1px solid $gray-400;
				border-radius:0;
				font-size: .8rem;
				color: $body-color;
				background-color:#FFF;
				background-image:none;
				vertical-align: middle;
				> span{
					display: flex;	
					align-items: center;
					justify-content: center;
				}
				&:hover,
				&.hover,
				&:hover:not(.disabled),
				&.hover:not(.disabled){
					border-color: $primary;
					color: $primary;
					.glyphicon::before  {
						filter: invert(51%) sepia(21%) saturate(1233%) hue-rotate(73deg) brightness(100%) contrast(88%);
					}
				}
			}
			.dt-button-checkbox{
				img{
					vertical-align: middle;
				}
				.form-check{
					min-height: auto;
					.form-check-input{
						margin-right: 0;
					}
				}
			}
		}
	}
    .datatables-custom-footer{ 
        text-align: center;  
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: .9rem;
        color: $gray-800;
        @media screen and (min-width: 1280px) {
        display: flex;
        align-items: center;
        justify-content: center;    
        }
    }
	.dataTables_paginate{ 
            display: none;
			float: none;
            padding: 0;
            margin-bottom: .5rem;
            text-align: center;
            @media screen and (min-width: 576px) {
            display: block;   
            }
            @media screen and (min-width: 1400px) {
            display: inline-block;  
            margin-bottom: 0;    
            }
            .pagination{
                justify-content: center !important;    
            }
            .paginate_button{
				margin: .2rem;
				text-align: center;
                .page-link{
                    background-color: $gray-300;
                    border: 1px solid $gray-400;
                    color: $body-color;
                    padding: .375rem .5rem;
                    min-width: 2.67rem;
                    font-size: .9rem;
                    border-radius: 0;
                    &:hover, &:focus, &:active,
                    &.hover, &.focus, &.active {
						filter: brightness(.9);
                    }
                }
                [data-dt-idx="previous"]{
                    padding: .375rem 1rem;
                    &::before{
                        content: "";
                        display: inline-block;
                        width: .6rem;
                        height: .6rem;
                        border-top: 1px solid $body-color;
                        border-left: 1px solid $body-color;
                        transform: rotate(-45deg);
                        vertical-align: middle;
                        margin-top: -0.25em;
                    }
                    
                }
                [data-dt-idx="next"]{
                    padding: .375rem 1rem;
                    &::after{
                        content: "";
                        display: inline-block;
                        width: .6rem;
                        height: .6rem;
                        border-right: 1px solid $body-color;
                        border-bottom: 1px solid $body-color; 
                        transform: rotate(-45deg);
                        vertical-align: middle;
                        margin-top: -0.25em;
                    }
                }
			}
			.paginate_button.active {
                .page-link{
                    background-color: transparent;
                    border: 1px solid transparent;
                    box-shadow: none;
                    cursor: default;
                    color: $red;
                    &:hover, &:focus, &:active,
                    &.hover, &.focus, &.active {
                        background-color: transparent;
                        border: 1px solid transparent;
                        box-shadow: none;
                        cursor: default;
                        color: $red;
                    }
                }
			}
			.paginate_button.disabled{
                .page-link{
                    background-color: $white;
					border-color: transparent;
                }
				[data-dt-idx="previous"], [data-dt-idx="next"]{
                    background-color: $white;
					border-color: #EEEEEE;
					opacity: $btn-disabled-opacity;
                }
            } 
        }
    .dataTables_info{
		display:block;
		float: none;
		padding: 0.375rem 0 !important;
		@media screen and (min-width: 576px) {
		display:inline-block;    
		}
		@media screen and (min-width: 1280px) {
		margin-left: 2rem;    
		}   
		strong{
			font-weight: 400;
		}
	}    
    .add_dataTables_input{ 
		display: inline-flex;
		align-items: center;
		vertical-align: top;
		padding: 0;
		margin-left: 1rem;  
		.paginate_input{
			border-radius:0;
			width: 2.4rem;
		}
		.paginate_button{
			margin-left: 2rem;
			background-color: $gray-300;
			border: 1px solid $gray-400;
			color: $body-color;
			padding: .375rem .75rem;
			font-size: .9rem;
			border-radius: .25rem;
			line-height: 1.8;
			&:hover,
			&.hover,
			&:hover:not(.disabled),
			&.hover:not(.disabled){
				filter: brightness(.9);
			}
			&:focus, &:active,
			&.focus, &.active,
			&:focus:not(.disabled), &:active:not(.disabled),
			&.focus:not(.disabled), &.active:not(.disabled){
				filter: brightness(.9);
			}
		}
	}
	
	table.dataTable{
		margin: 0 !important;
		thead{
			>tr{
				>th, >td{
					&.sorting, 
					&.sorting_asc, &.sorting_desc,
					&.sorting_asc_disabled, &.sorting_desc_disabled{
						padding-right: .25rem;
						&::before, &::after{
							position: relative;
							display: inline-block;
							opacity: 1.0; 
							right: 0;
							line-height: 1.8;
							font-size: 1em;
							width: .8rem;
							height: .8rem;
							background-repeat: no-repeat;
							background-position: center center;
							background-size: auto 100%;
							content: "";
							vertical-align: middle;
							margin-top: -.25em;
						} 
						&::before{
							display: none;
						}
						&::after{
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='11px' height='16px'%3E %3Cpath fill-rule='evenodd' fill='rgb(67, 160, 71)' d='M5.000,15.1000 L5.000,8.1000 L5.000,4.1000 L4.1000,0.002 L-0.001,8.088 L3.105,8.088 L3.105,16.005 L5.000,15.1000 Z'/%3E %3Cpath fill-rule='evenodd' fill='rgb(67, 160, 71)' d='M6.000,-0.000 L6.000,6.1000 L6.000,10.1000 L6.000,15.998 L11.001,7.911 L7.895,7.911 L7.895,-0.005 L6.000,-0.000 Z'/%3E %3C/svg%3E");
						} 
					} 
					&.sorting::after{
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='11px' height='16px'%3E %3Cpath fill-rule='evenodd' fill='rgb(67, 160, 71)' d='M5.000,15.1000 L5.000,8.1000 L5.000,4.1000 L4.1000,0.002 L-0.001,8.088 L3.105,8.088 L3.105,16.005 L5.000,15.1000 Z'/%3E %3Cpath fill-rule='evenodd' fill='rgb(67, 160, 71)' d='M6.000,-0.000 L6.000,6.1000 L6.000,10.1000 L6.000,15.998 L11.001,7.911 L7.895,7.911 L7.895,-0.005 L6.000,-0.000 Z'/%3E %3C/svg%3E");
					} 
					&.sorting_asc::after{
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='11px' height='16px'%3E %3Cpath fill-rule='evenodd' fill='rgb(67, 160, 71)' d='M5.000,15.1000 L5.000,8.1000 L5.000,4.1000 L4.1000,0.002 L-0.001,8.088 L3.105,8.088 L3.105,16.005 L5.000,15.1000 Z'/%3E %3Cpath fill-rule='evenodd' fill='rgb(197, 197, 197)' d='M6.000,-0.000 L6.000,6.1000 L6.000,10.1000 L6.000,15.998 L11.001,7.911 L7.895,7.911 L7.895,-0.005 L6.000,-0.000 Z'/%3E %3C/svg%3E");    
					} 
					&.sorting_desc::after{
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='11px' height='16px'%3E %3Cpath fill-rule='evenodd' fill='rgb(197, 197, 197)' d='M5.000,15.1000 L5.000,8.1000 L5.000,4.1000 L4.1000,0.002 L-0.001,8.088 L3.105,8.088 L3.105,16.005 L5.000,15.1000 Z'/%3E %3Cpath fill-rule='evenodd' fill='rgb(67, 160, 71)' d='M6.000,-0.000 L6.000,6.1000 L6.000,10.1000 L6.000,15.998 L11.001,7.911 L7.895,7.911 L7.895,-0.005 L6.000,-0.000 Z'/%3E %3C/svg%3E");
					}
					&.sorting_asc_disabled::after,
					&.sorting_desc_disabled::after{
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='11px' height='16px'%3E %3Cpath fill-rule='evenodd' fill='rgb(197, 197, 197)' d='M5.000,15.1000 L5.000,8.1000 L5.000,4.1000 L4.1000,0.002 L-0.001,8.088 L3.105,8.088 L3.105,16.005 L5.000,15.1000 Z'/%3E %3Cpath fill-rule='evenodd' fill='rgb(197, 197, 197)' d='M6.000,-0.000 L6.000,6.1000 L6.000,10.1000 L6.000,15.998 L11.001,7.911 L7.895,7.911 L7.895,-0.005 L6.000,-0.000 Z'/%3E %3C/svg%3E");
					}  

					&.orderIconHide{
						&.sorting, 
						&.sorting_asc, &.sorting_desc,
						&.sorting_asc_disabled, &.sorting_desc_disabled{ 
							&::after{
								display: none !important;
							} 
						}    
					} 
				}
			}
		}  

		> tbody{
			tr {
				td{
					.btn-toggle-child{ 
						 &::after{ 
							content: "";
							display: inline-block;
							width: .6rem;
							height: .6rem;
							border-right: 1px solid $primary;
							border-bottom: 1px solid $primary;
							transform: rotate(45deg);
							vertical-align: middle;
							margin-top: -.5em;
							margin-left: .5em;
						}
					 }
					.btn-toggle-child:hover{
						&::after{ 
							border-right-color: $btn-link-hover-color;
							border-bottom-color: $btn-link-hover-color;
						}
					}
				}
				
			}
			tr.dt-hasChild{
				td{
					&.showChild{
						background-color: $gray-200;
						border-bottom-color: $gray-200;
					}
					.btn-toggle-child{ 
						&::after{ 
							transition: .35s;
							transform: rotate(-135deg);
							margin-top: .25em;
						}
					}
				}
				+tr td{
					background-color: $gray-200;
					padding: .75rem;
					.table{
						margin-bottom: 0;
						tr, td{
							background-color: $white;	
						}
						
					}
				}
			}
		}
	} 
	
	.table-child-scroller{
		//max-width: 100%;
		height: 50vh;
		max-height: 50ch;
		overflow-x: auto;
		overflow-y: scroll;
		.table{
			//min-width: 960px;
		}
	}
	.table-child-footer {
		margin-top: 1.5rem;
		margin-bottom: 1rem;
	}
}




