.popover{
	-webkit-box-shadow: 0 5px 10px rgba(67,160,71,.2);
	-moz-box-shadow: 0 5px 10px rgba(67,160,71,.2);
	-ms-box-shadow: 0 5px 10px rgba(67,160,71,.2);
	-o-box-shadow: 0 5px 10px rgba(67,160,71,.2);
	box-shadow: 0 5px 10px rgba(67,160,71,.2);
}