.page-banner.RPList{
	background-image:url(../images/RPList/banner-bg.jpg);
	background-position:center center;
	margin-bottom:0;
	h1{ 
		font-size:1.5em;
		font-weight:400;
		line-height:1em;
		margin-top:10px;
		margin-bottom:20px;
		color:#FFF;
		text-align:left;
	}
	p{
		font-size:0.9em;
		line-height:1.875em;
		color:#FFF;
		text-align:left !important;
		@media screen and (min-width: 1200px) {
		white-space:nowrap;	
		}
	}
}

.RPList-search{
	background-color:#f4f8fb;
	>.container{
		background-color:#FFF;
		padding-top:50px;
		padding-bottom:30px;
	}
	.RPList-search__text{
		padding-top:20px;
	}
	h2{
		font-size:1.2em;
		font-weight:400;
		margin-top: 10px;
    	margin-bottom: 10px;
	}
	.input-group{
		> .form-control{ 
			border:1px solid $main-color;
			font-size:1.0em;
			border-radius:0;
		}
		.RPList-search__btn-search{
			font-size: 18px;
    		border-radius: 0;
    		padding: 10px 30px 10px 30px;
		}
	}
	.RPList-search__info{
		font-size:0.8em;
		color:#5c6466;
		padding:20px 0;
		>span{
			display:block;
			@media screen and (min-width: 768px) {
			display:inline-block;
			width:50%;
			float:left;
			}
			@media screen and (min-width: 992px) {
			width:50%;
			float:left;
			}
			@media screen and (min-width: 1200px) {
			width:auto;
			margin-right:2em;
			}
		}
	}
}


.RPList-header{
	background-color:#f1f1f1;
	padding:15px 20px;
	>h2{
		font-size:0.9em;
		font-weight:300;
		color:#5c6466;
		margin:0;
	}
}
.RPList-footer{
	text-align:center;
	padding-top:30px;
	padding-bottom:60px;
	font-size:0.9em;
	.dataTables_paginate{
		display:inline-block;
		float: none;
		padding-top: 0;
		.paginate_button{
			min-width: 1.5em;
			padding: .45em .85em;
			margin:4px 2px;
			border-radius:0;
			background-color:#eeeeee;
			border: 1px solid #c6c6c6;
			color: $default-black !important;
			text-decoration:none !important;
			&:hover,
			&.hover,
			&:hover:not(.disabled),
			&.hover:not(.disabled){
				background-color: darken(#eeeeee, 5%);
				border: 1px solid #c6c6c6;
				color: $default-black !important;
				background-image:none !important;
				text-shadow:none;
				box-shadow: none;
			}
			&:focus, &:active,
			&.focus, &.active,
			&:focus:not(.disabled), &:active:not(.disabled),
			&.focus:not(.disabled), &.active:not(.disabled){
				background-color: darken(#eeeeee, 5%);
				border: 1px solid #c6c6c6;
				color: $default-black !important;
				background-image:none !important;
				text-shadow:none;
				box-shadow: inset 0 3px 5px rgba(0,0,0,0.13);
			}
		}
		.paginate_button.current,
		.paginate_button.current:hover, .paginate_button.current.hover,
		.paginate_button.current:focus, .paginate_button.current.focus,
		.paginate_button.current:active, .paginate_button.current.active{
			background-color: transparent;
			color:#ff0000 !important;
			font-weight:500;
			border: 1px solid transparent;
			background:none;
			box-shadow:none;
			cursor:default;
		}
		.paginate_button.disabled,
		.paginate_button.disabled:hover, .paginate_button.disabled.hover,
		.paginate_button.disabled:focus, .paginate_button.disabled.focus,
		.paginate_button.disabled:active,.paginate_button.disabled.active{
			background-color:#f9f9f9;
			border:1px solid #c6c6c6;
			color:#7c8284 !important;
			box-shadow:none !important;
			cursor:default;
		}
	}
	.dataTables_info{
		display:inline-block;
		float: none;
		margin-left:60px;
		color:#5c6466;
		strong{
			display:none;
		}
		.footer-hide{
			display:none;
		}
	}
	.add_dataTables_input{ 
		display:inline-block;
		margin-left:20px;
		color:#5c6466;
		.paginate_input{
			border-radius:0;
			width:48px;
			padding: 10px 10px;
		}
		.paginate_button{
			margin-left:35px;
			background-color:#f1f1f1;
			border:1px solid #c6c6c6;
			color:$default-black;
			padding: 11px 18px;
			margin-top:-5px;
			&:hover,
			&.hover,
			&:hover:not(.disabled),
			&.hover:not(.disabled){
				background-color: darken(#eeeeee, 5%);
				border: 1px solid #c6c6c6;
				color: $default-black !important;
				background-image:none !important;
				text-shadow:none;
				box-shadow: none;
			}
			&:focus, &:active,
			&.focus, &.active,
			&:focus:not(.disabled), &:active:not(.disabled),
			&.focus:not(.disabled), &.active:not(.disabled){
				background-color: darken(#eeeeee, 5%);
				border: 1px solid #c6c6c6;
				color: $default-black !important;
				background-image:none !important;
				text-shadow:none;
				box-shadow: inset 0 3px 5px rgba(0,0,0,0.13);
			}
		}
	}
}


.RPList-books{
	background-color:#f4f8fb;
	padding-bottom:30px;
	>.container{
		background-color:#FFF;
	}
	.RPList-books__functions{
		text-align:right;
		margin-top:15px;
		margin-bottom:5px;
		.functions-tips{
			display:inline-block;
			font-size:0.8em;
			line-height:1em;
			.functions-tips__btn{
				font-size:1.4em;
				color:$main-color;
				border:none;
				background-color:transparent; 
				vertical-align: middle;
				margin-top: -5px;
				&:hover, &:focus, &:active{
					color:darken($main-color, 10%);
				}
			}
		}
		.functions-modes{ 
			display:inline-block;
			font-size:0.8em;
			margin-top:3px;
			ul.functions-modes__block{
				display:inline-block;
				background-color:#f1f1f1;
				border:1px solid #f1f1f1;
				border-radius:30px;
				height:36px;
				padding:0;
				margin:0;
				li.functions-modes__btn{
					display:inline-block;
					list-style:none;
					>a {
						display:inline-block;
						color:$default-gray;
						text-decoration:none;
						border-radius:30px;
						height:36px;
						line-height:34px;
						padding-left:10px;
						padding-right:10px;
						> img{
							vertical-align:middle;
							margin-top:-2px;
							margin-right:2px;
							-webkit-filter:grayscale(1);
						}
					}
				}
				li.functions-modes__btn.active{
					position:relative;
					z-index:5;
					>a {
						color:$main-color;
						background-color:#FFF;
						border:1px solid $main-color;
						> img{
							-webkit-filter:grayscale(0);
						}
					}
				}
				li:last-child{
					margin-left:-5px;
				}
			}
		}
	}
	@import "../modules/widgets/RPList-books__table";
}
.RPList-books__tab-pane__functions{
	display:inline-block;
	min-height:44px;
	margin-bottom:5px;
	.functions-btns{ 
		display:inline-block;
		border-bottom:1px solid $main-color;
		@media screen and (max-width: 339px) {
		width:100%;	
		}
		.functions-btns__nav{
			border:1px solid #c6c6c6;
			border-bottom:none;
			background-color:#FFF;
			font-size:0.8em;
			color:$main-color;
			min-width:100px;
			text-align:center;
			padding:10px 20px;
			border-radius:6px 6px 0 0;
			@media screen and (max-width: 339px) {
			min-width:32%;
			max-width:32%;					
			width: 32%;
			}
			&:hover, &:focus{
				background-color:lighten(#c6c6c6, 15%);
				box-shadow:none;
			}
			&.active, &:active{
				border:1px solid $main-color;
				border-bottom:none;
				background-color:$main-color;
				color:#FFF;
			}
		}
	}
	.functions-print{
		margin-top:5px;
	}
}
.RPList-books__tab-content{
	padding-bottom:20px;
	@media screen and (min-width: 768px) {
	margin-top:-44px;
	}
}
.functions-tips__popover{
	width: 300px;
	max-width: 330px;
	.popover-content{
		font-size:16px;
		color:$default-gray;
		@media screen and (min-width: 992px) {
		padding: 39px 29px;	
		}
		>h4{
			font-size:16px;
			color:$default-black;
			margin-top: 0px;
    		margin-bottom: 15px;
		}
		>hr{
			margin-top: 30px;
			margin-bottom: 30px;
			border: 0;
			border-top: 1px solid #c6c6c6;
		}
	}
}

.RPbookList-table__btn-tools{
	font-size: 16px;
	padding:5px 12px !important;
	margin:13px auto;
	vertical-align:middle;
	> img{
		vertical-align:middle;
		margin-top:-2px;
	}
	&:hover:hover,  &:hover:focus,  &:hover:active,
	&:focus:hover,  &:focus:focus,  &:focus:active,
	&:active:hover, &:active:focus, &:active:active{
		padding:5px 12px !important;
		margin:13px auto;
		line-height: 1.42857143 !important;
	}
	&.disabled, &[disabled], &[disabled="disabled"],
	&.disabled:hover,  &[disabled]:hover,  &[disabled="disabled"]:hover,
	&.disabled:focus,  &[disabled]:focus,  &[disabled="disabled"]:focus,
	&.disabled:active, &[disabled]:active, &[disabled="disabled"]:active{
		color:#919191 !important;
		background-color:inherit;
		> img{
			-webkit-filter:grayscale(1);
			-ms-filter:grayscale(1);
			-o-filter:grayscale(1);
			filter:grayscale(1);
		}
	}
}
.RPbookList-table__btn-tools-done{ 
	border:1px solid transparent;
	background-color: transparent;
	color:$main-color;
	border-radius:6px;
	padding:5px 12px;
	vertical-align:middle;
	margin:13px auto;
	text-decoration: none;
	> img{
		vertical-align:middle;
		margin-top:-2px;
	}
	&:hover:hover,  &:hover:focus,  &:hover:active,
	&:focus:hover,  &:focus:focus,  &:focus:active,
	&:active:hover, &:active:focus, &:active:active{
		border:1px solid transparent;
		background-color: transparent !important;
		color:darken($main-color, 5%);
		border-radius:6px;
		padding:5px 12px;
		vertical-align:middle;
		margin:13px auto;
		text-decoration: none;
		box-shadow:none;
		> img{
			vertical-align:middle;
			margin-top:-2px;
			-webkit-filter:brightness(0.9);
		}
	}
}
.RPList-articles{
	background-color:#f4f8fb;
	>.container{
		background-color:#FFF;
		padding-top:20px;
	}
}
.RPList-articles__table{
	>tbody>tr{
		td{
			&.articles-id{}
    		&.articles-name{
				>a{
					color:$default-black;
					font-weight:400;
					text-decoration:none;
					&:hover, &:focus, &:active{
						text-decoration:none;
						color:$main-color;
						box-shadow:0 1px $main-color;
					}
				}
			}
   			&.articles-SR{}
            &.articles-readTimes{}
    		&.articles-readDate{}
		}
	}
	
}


.modal-starScore{
	.modal-dialog{
		.modal-content{
			.modal-header{
				background-color:#f6fafd;
				padding: 10px 15px;
				.close{
					margin-top: 0px;
					opacity: 1.0; 
    				filter: alpha(opacity=100);
					color:#c6c6c6;
					text-shadow: 1px  1px #c6c6c6, -1px -1px #c6c6c6, -1px  1px #c6c6c6, 1px -1px #c6c6c6;
					&:hover, &:focus, &:active{
						opacity: 1.0; 
    					ilter: alpha(opacity=100);
						color:darken(#c6c6c6, 10%);
						text-shadow: 1px  1px darken(#c6c6c6, 10%), -1px -1px darken(#c6c6c6, 10%), -1px  1px darken(#c6c6c6, 10%), 1px -1px darken(#c6c6c6, 10%);
					}			 
				}
				.modal-title{
					font-size:0.8em;
					font-weight:300;
					color:$default-gray;
					text-align:center;
				}
			}
			.modal-body{
				.Vteaching-starScore-item{
					margin:-15px;
					padding:35px 0;
					&:not(:last-child){
						border-bottom:10px solid #f6fafd;
					}
					&:last-child{
						margin-bottom:35px;
					}
				}
				.Vteaching-starScore-title{
					font-size:0.9em;
					font-weight:500;
					text-align:center;
					margin-bottom:30px;
				}
				.Vteaching-starScore-icon{}
			}
		}
	}
}

.btn-stars-group{
	>.btn{
		display:inline-block;
		margin:5px;
		background-color:transparent;
		text-align:center;
		padding:0;
		min-width:80px;
		max-width:25%;
		font-size:0.8em;
		color:$default-gray;
		> i{
			display:block;
			margin:0 auto;
			&.SR-icon{
				width:42px;
				height:42px;
			}
			&.SR-icon-heart{background-image:url(../images/RPList/SR-icon-heart.png);}
			&.SR-icon-seed{ background-image:url(../images/RPList/SR-icon-seed.png);}
		}
		&:hover, &.hover, &.light{
			> i{
				&.SR-icon-heart{background-image:url(../images/RPList/SR-icon-heart-light.png);}
				&.SR-icon-seed{ background-image:url(../images/RPList/SR-icon-seed-light.png);}
			}
		}
		&.focus, &:focus { outline-color:transparent;}
		&.active, &:active { box-shadow:none;}
	}
}

.topic-style{
	padding-left:4%;
	padding-right:4%;
	margin-bottom:40px;
	.topic-style__title{
		text-align:center;
		font-size:1em;
		font-weight:400;
		margin-top:0;
		margin-bottom:25px;
	}
	.topic-style__table{
		>thead>tr{
			>th{
				background-color: #f9f9f9;
				font-size:0.8em;
				font-weight:300;
				color:$default-gray;
				border-bottom-width: 1px;
				vertical-align:middle;
				border-left:none;
				border-right:none;
				text-align:center;
			}
		}
		>tbody>tr{
			>td{
				font-size:0.8em;
				line-height:1em;
				padding:2px 8px;
				vertical-align:middle;
				border-left:none;
				border-right:none;
				text-align:center;
			}
		}
	}
}

.commontPage{ 
	font-size: .9em;
	color: $default-gray;
    @media screen and (max-width: 767px) {
    font-size: .8em;    
    }
	.btn-default, .btn-default:hover, , .btn-default:focus, , .btn-default:active{
		min-width: 1.5em;
		padding: .55em .85em;
		margin: 4px 2px;
		border-radius: 0;
		background-color: #eeeeee;
		border: 1px solid #c6c6c6;
		color: $default-black !important;
		text-decoration: none !important;
		display: inline-block;
	}
	.btn-default:hover, .btn-default:focus{
		background-color: #e1e1e1 !important;
	}
	label{
		min-width: 1.5em;
		/*padding: .55em .85em;*/
		/*margin: 4px 2px;*/
		border-radius: 0;
		background-color: transparent;
		border: 1px solid transparent;
		color: inherit;
		text-decoration: none !important;
		display: inline-block;
		&:not(#pageCount_txt){
			font-weight: 500;
			padding: .55em .85em;
			margin: 4px 0px;
		}
	}
	.commontPage-pages{
		display: inline-block;
	}
	#Btn_next, .Btn_next{
		margin-right: 30px !important;
	}
	.add_dataTables_input{
		display: inline-block;
		margin-left: 30px;
	}
	.paginate_input{
		width: 48px;
		vertical-align: middle;
		padding: 10px 6px;
		text-align: center;
	}
	.paginate_button, .paginate_button:hover, .paginate_button:focus{
		border-radius: 6px;
		margin-left: 30px;
	}	
}

[data-domain="3"]{
    
}
