header {
    background-color: $white;
    border-bottom: 1px solid $gray-400;
    .navbar{
        padding-top: 2rem;
        @media screen and (min-width: 576px) {
        padding-top: 0;    
        min-height: 5.8rem;       
        align-items: center;
        padding-bottom: $navbar-padding-y;   
        }
    }
    
    .navbar-brand{
        margin-right: 0;
        h1{
            display: flex;
            align-items: center;
            margin-bottom: 0;
            font-size: 1.2rem;
            @media screen and (min-width: 576px) {
            font-size: 1.5rem; 
            transform: none;    
            }
        }
        .SR-logo{
            width: 5.1rem;
            @media screen and (min-width: 576px) {
            width: 7.7rem;
            }    
        }
        .SR-h1{
            &::before{
                content: "";
                display: inline-block;
                width: 1px;
                height: 1.5rem*1.1;
                background-color: $gray-900;
                margin: 0 .5rem;
                vertical-align: middle;
                @media screen and (min-width: 576px) {
                margin: 0 .75rem;    
                }
            }
            .SR-h1-current{
                display: none;
                font-size: 1.2rem;
                &.active::before{
                    content: "";
                    display: inline-block;
                    width: .75rem;
                    height: .75rem;
                    border-right: 1px solid $gray-900;
                    border-bottom: 1px solid $gray-900;
                    transform: rotate(-45deg);
                    margin-left: .25rem;
                    margin-right: .75rem;
                }
                @media screen and (min-width: 576px) {
                display: inline-block;   
                }
            }
        }
    }
    .SR-user{
        position: absolute;
        top: .75rem;
        right: .75rem;   
        font-size: .8rem;
        @media screen and (min-width: 576px) {
        position: relative;
        top: 0;
        right: 0;     
        margin-right: .75rem;  
        font-size: 1rem;    
        }
        @media screen and (min-width: 1200px) {
        margin-right: 0;    
        }
        .nav-link{
            padding-left: 1rem;
            padding-right: 1rem;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            font-weight: 400;
            background-color: $gray-300; 
            @media screen and (min-width: 576px) {
            background-color: transparent;
            }
            &::before{
                content: "";
                display: inline-block;
                width: 1.1rem;
                height: 1.1rem;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.29' height='21.296' viewBox='0 0 21.29 21.296'%3E %3Cpath id='Subtraction_1' data-name='Subtraction 1' d='M10.731,21.3H10.56a1.6,1.6,0,0,1-1.6-1.6V18.632A8.047,8.047,0,0,1,6.21,17.471l-.767.767a1.6,1.6,0,0,1-2.265,0l-.121-.122a1.6,1.6,0,0,1,0-2.265l.77-.77a8.156,8.156,0,0,1-1.161-2.745H1.6a1.6,1.6,0,0,1-1.6-1.6v-.172a1.6,1.6,0,0,1,1.6-1.6H2.656A8.14,8.14,0,0,1,3.812,6.2l-.755-.754a1.6,1.6,0,0,1,0-2.266l.121-.121a1.6,1.6,0,0,1,2.265,0l.745.743A8.063,8.063,0,0,1,8.958,2.627V1.6A1.6,1.6,0,0,1,10.56,0h.171a1.6,1.6,0,0,1,1.6,1.6V2.627A8.055,8.055,0,0,1,15.1,3.8l.745-.743a1.6,1.6,0,0,1,2.264,0l.122.121a1.606,1.606,0,0,1,0,2.266l-.754.754A8.137,8.137,0,0,1,18.634,8.96h1.056a1.6,1.6,0,0,1,1.6,1.6v.172a1.6,1.6,0,0,1-1.6,1.6H18.624a8.131,8.131,0,0,1-1.16,2.746l.77.769a1.606,1.606,0,0,1,0,2.266l-.122.121a1.6,1.6,0,0,1-2.264,0l-.767-.766a8.043,8.043,0,0,1-2.748,1.161v1.062A1.6,1.6,0,0,1,10.731,21.3ZM10.642,6.114a4.515,4.515,0,1,0,4.514,4.515A4.52,4.52,0,0,0,10.642,6.114Z' fill='%2343a047'/%3E %3C/svg%3E");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 100% 100%;
                margin-right: .25rem;
            }
            .SR-user-name{ 
                white-space: nowrap; 
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 10rem;
                @media screen and (min-width: 576px) {
                max-width: 5rem;    
                }
                @media screen and (min-width: 992px) {
                max-width: 10rem;    
                }
            }
            .SR-user-identity{ 
                display: none; 
                @media screen and (min-width: 992px) {
                display: inline-block;
                margin-left: 1rem;    
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;       
                max-width: calc(5em + 1rem);    
                }
            }
            
            &:hover, &:focus, &:active,
            &.hover, &.focus, &.active,
            &.show{
                background-color: $gray-300;   
                label{
                    cursor: pointer;        
                }
            }
            + .dropdown-menu{
                left: auto;
                right: 0;
                padding: 0;
                border-radius: 0;
                border-color: transparent;
                @media screen and (min-width: 992px) {
                left: 50%;
                transform: translateX(-50%);    
                }
                .dropdown-item{
                    text-align: center;
                    &:hover, &:focus, &:active{
                        background-color: $gray-100; 
                        color: $dropdown-link-color; 
                    }    
                }
            }    
        }   
    }
    .navbar-toggler{
        font-size: 1rem;
        padding: 0.1rem 0.4rem;
        border-radius: .25rem;
        @media screen and (min-width: 576px) {
        font-size: 1.25rem;  
        }
        &[aria-expanded="true"]{ 
            .navbar-toggler-icon{
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");  
                background-size: 70% auto;
            }
        }
        
    }
}
