html{
	width:100%;
	height:100%;
}
body{
	width:100%;
	height:100%;
	color:#2e3233;
	line-height:1.7;
	background-color:#e2e2e2;
}
/**/
form{
	width:100%;
	height:100%;
}
.page{
	width:100%;
	height:100%;
	position:relative;
	.bg{
		width:100%;
		height:100%;
		position: fixed;
		top:0;
		left:0;
		z-index:-1;
		-webkit-filter:blur(3px);
		-moz-filter:blur(3px);
		-o-filter:blur(3px);
		-ms-filter:blur(3px);
		filter:blur(3px);	
	}
	.header{/*TRIAL on SR, only in test.html*/
		width:100%;
		height:auto;
		.container{ 
			background-color:#FFF;
			padding-bottom:25px;
			@media screen and (min-width: 992px) {
			padding-bottom:0px;	
			}
			h1{ 
				height:auto;
				margin-top:25px;
				margin-bottom:25px;
				@media screen and (min-width: 992px) {
				height:70px;
				}
				/*.header-logo{
					height:70px;
				}*/	
			}
		}
	}
	.content{
		font-size:18px;
		width:100%;
		height:calc(100% - 114px);
		.container{
			background-color:#FFF;
			min-height:100%;
		}
	}
}
/*UI*/
.btn-demo{
	background-color:#cad532;
	color:#2e3233;
	font-size:1em;
	font-weight:300;
	padding-top:10px;
	padding-bottom:10px;
	&:hover, &.hover{
		background-color:#9aa510;
		color:#2e3233;
	}
	&:active, &.active{
		background-color:#8c9700;
		color:#2e3233;
	}
	&:focus, &3focus{
		background-color:#8c9700;
		color:#2e3233;
	}
	&:disabled, &.disabled{
		background-color:#e4ea98;
		color:#9a9f6c;
	}
}
@media (min-width: 1200px){
.modal-lg {
    width: 1000px;
}
}
b, strong {
    font-weight: 500;
}