.page-result{
	.bg{
		background-image: url(../images/bg-result.jpg);
		background-repeat:no-repeat;
		background-position:center center;
		background-size:100% 100%;
	}
	.header{
		.container{background-color:#FFF;}
	}
	.content{
		.container{background-color:#FFF;}
	}
	.for-padding{
		@media (min-width: 992px){
		padding-right:30px;
		}
		@media (min-width: 1200px){
		padding-right:80px;
		}
	}
	
}
.result-item{ 
	text-align:center;
	.result-item-title{
		font-weight:400; 
		font-size:1.4em;
		> img{
			display:inline-block;
			vertical-align: text-bottom;
			margin-right:5px;
		}
	}
	.result-item-content{ 
		font-weight:400;
		color:#378a25;
		font-size:1.4em;
		line-height:1em;
		margin-top:25px;
		margin-bottom:25px;
		label{
			font-size:2.5em;
			font-weight:400;
		}
	}
}
.result-item.ability{
	margin-top:0px;
	@media (min-width: 992px){
	margin-top:45px;
	}
}
.result-item.range{
	margin-top:100px;
	margin-bottom:100px;
	@media (min-width: 992px){
	margin-top:140px;
	margin-bottom:0px;
	}
}

.bookList-item {
	border: 1px solid #c6c6c6;
	background-color: #FFF;
	padding:15px 15px 15px 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	.frontCover {
		height: 200px;
		margin-top:20px -15px;
		position: relative;
		overflow: hidden; 
		> img.frontCover-img {
      		height: 200px; 
		}
	}
	> h4 {
		font-weight: 500;
		height: 1em;
		overflow: hidden; 
		margin-top:20px;
		margin-bottom:20px;
	}
	> p {
		display:block;
		color: #378a25;
		margin-bottom: 5px;
	}
}
  

   
      
   
    
