//使用客製化bs參數及bs參數
@import "bootstrap-5.3.8/scss/functions";
@import "bootstrap-5.3.8/variables-custom";
@import "bootstrap-5.3.8/scss/maps";
@import "bootstrap-5.3.8/scss/mixins";
@import "bootstrap-5.3.8/scss/utilities";

@import "base/var";
@import "base/reset";

@import "master/header";
@import "master/sidebar";
@import "master/main";
@import "master/footer";

@import "mend/a";
@import "mend/bootstrap-select";
@import "mend/btn";
@import "mend/datatables";
@import "mend/forms";
@import "mend/modal";
@import "mend/nav-tabs";
@import "mend/popover";
@import "mend/ui";


@import "modules/DACCicon";
@import "modules/scrollbar";
@import "modules/SRaccordion";
@import "modules/SRform";
@import "modules/SRicons";
@import "modules/SRrange-bar";
@import "modules/SRtable";
@import "modules/userScore";
@import "modules/table-recommendedBook";
@import "modules/table-RPList";
@import "modules/glyphicon";
@import "modules/superBoard";
@import "modules/fillAssessment";
@import "modules/evaluate";
@import "modules/upload-pic";
@import "modules/upload-video";
@import "modules/myStudy";
@import "modules/audioRecord";
@import "modules/RAcolor";

@import "pages/index";
@import "pages/account-teacher";
@import "pages/account-class";
@import "pages/account-student";

@import "pages/DACC-session";
@import "pages/DACC-classScore";
@import "pages/DACC-statistics";
@import "pages/DACC-schoolReport";


@import "pages/RP-bookList";
@import "pages/RP-quiz";
@import "pages/RP-manage";
@import "pages/RP-skill";
@import "pages/RP-courseActivity";

