@import "bootstrap-5.2.3/scss/functions";
@import "bootstrap-5.2.3/scss/variables";
@import "bootstrap-5.2.3/scss/maps";
@import "bootstrap-5.2.3/scss/mixins";
@import "bootstrap-5.2.3/scss/utilities";

@import "base/reset";

@import "master/header";
@import "master/sidebar";
@import "master/main";
@import "master/footer";

@import "mend/a";
@import "mend/bootstrap-select";
@import "mend/btn";
@import "mend/datatables";
@import "mend/forms";
@import "mend/modal";
@import "mend/popover";
@import "mend/ui";


@import "modules/DACCicon";
@import "modules/scrollbar";
@import "modules/SRaccordion";
@import "modules/SRform";
@import "modules/SRicons";
@import "modules/SRrange-bar";
@import "modules/SRtable";
@import "modules/userScore";
@import "modules/table-recommendedBook";
@import "modules/table-RPList";
@import "modules/glyphicon";
@import "modules/superBoard";
@import "modules/fillAssessment";
@import "modules/evaluate";
@import "modules/upload-pic";
@import "modules/upload-video";
@import "modules/myStudy";
@import "modules/audioRecord";

@import "pages/index";//done
@import "pages/account-teacher";//done
@import "pages/account-class";//done
@import "pages/account-student";//done

@import "pages/testMgt-session";
@import "pages/testMgt-classScore";
@import "pages/testMgt-statistics";
@import "pages/testMgt-school";


@import "pages/RP-bookList";//done
@import "pages/RP-quiz";//done
@import "pages/RP-manage";//done
@import "pages/RP-skill";//ing
//@import "pages/RP-courseActivity";

