.table-account-class{
    > thead, > tbody{
        > tr{
            >th, > td {
                &.col-delete				{ width:  4%; }
                &.col-index					{ width:  4%; }
                &.col-school				{ width: 16%; } 
                &.col-year					{ width: 10%; }
                &.col-grade					{ width: 10%; } 
                &.col-class					{ width: 14%; }
                &.col-teacher				{	width: 12%; } 
                &.col-studentCount	{ width: 14%; }
                &.col-studentList		{	width: 10%; } 
                &.col-status				{ width: 10%; }      
            }   
        }
    }
    > tbody{
        > tr{
            > td {
                &.col-studentList{ 
                    padding-left: .5rem;
                    padding-right: .5rem;
                }      
            }   
        }
    }
}



.waitingBlock{
    background-color: lighten($primary, 52%);
    border: 2px dashed $gray-400;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
    @media screen and (min-width: 1200px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 50%;
    }
    h3{
        margin-bottom: 1.5rem;
    }
    .input-group-clear > input{
        max-width: 240px;
    }
}
.classStudentBlock{
    background-color: transparent;
    border: 2px dashed transparent;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
    @media screen and (min-width: 1200px) {
    padding-top: 2rem;
    padding-bottom: 2rem;    
    width: 83.33333333%;
    } 
    h3{
        margin-bottom: 1.5rem;
    }
    .input-group-clear > input{
        max-width: 240px;
    }
}


.waitingBlock, 
.waitingBlock + .classStudentBlock{
    &.step1, .step1{
        display: block;    
    }
    &.step2, .step2{
        display: none;    
    }
}
.waitingBlock.open, 
.waitingBlock.open + .classStudentBlock{
    width: 100%;
    @media screen and (min-width: 1200px) {
    width: 50%;
    } 
    &.step1, .step1{
        display: none;    
    }
    &.step2, .step2{
        display: block;    
    }
}




.table-studentList, .table-waitingList{ 
   > thead, > tbody{
        > tr{
            >th, > td {
                 &.col-check				{ width:  7%; }
                 &.col-index				{ width:  7%; }  
                 &.col-account			{ width: 30%; }  
                 &.col-password			{ width: 11%; }  
                 &.col-chineseName	{	width: 12%; }  
                 &.col-grade				{ width: 10%; }  
                 &.col-class				{ width: 10%; }  
                 &.col-studentId		{ width: 10%; }  
                 &.col-entryYear		{ width: 10%; }       
            }   
        }
    } 
}