.table-account-teacher{
    > thead, > tbody{
        > tr{
            >th, > td {
                &.col-index       { width:  4%; }
                &.col-identity    { width:  8%; } 
                &.col-account     { width: 15%; }
                &.col-password    { width: 13%; } 
                &.col-chineseName { width: 12%; }
                &.col-englishName { width: 12%; } 
                &.col-nationalId  { width: 12%; }
                &.col-language    {	width:  6%; } 
                &.col-gender      { width:  6%; }
                &.col-status      { width:  6%; } 
            }   
        }
    }
}