.table-account-student{
    > thead, > tbody{
        > tr{
            >th, > td {
                &.row-index{  		width:  4%; }
                &.row-account{  	width: 15%; }
                &.row-password{  	width:  9%; } 
                &.row-chineseName{  width:  9%; }
                &.row-englishName{  width:  9%; } 
                &.row-nationalId{   width:  9%; }
                &.row-grade{  		width:  7%; }
                &.row-class{ 		width:  7%; }
                &.row-studentId{  	width:  7%; }
                &.row-entryYear{  	width:  6%; }
                &.row-language{    	width:  6%; } 
                &.row-gender{  		width:  6%; }
                &.row-status{  		width:  6%; }      
            }   
        }
    }
}