.table-account-student{
    > thead, > tbody{
        > tr{
            >th, > td {
                &.col-index				{  width:  4%; }
                &.col-account			{  width: 15%; }
                &.col-password		{  width:  9%; } 
                &.col-chineseName	{  width:  9%; }
                &.col-englishName	{  width:  9%; } 
                &.col-nationalId	{  width:  9%; }
                &.col-grade				{  width:  7%; }
                &.col-class				{  width:  7%; }
                &.col-studentId		{  width:  7%; }
                &.col-entryYear		{  width:  6%; }
                &.col-language		{  width:  6%; } 
                &.col-gender			{  width:  6%; }
                &.col-status			{  width:  6%; }      
            }   
        }
    }
}