.table-account-class{
    > thead, > tbody{
        > tr{
            >th, > td {
                &.row-delete{     	 width:  4%; }
                &.row-index{         width:  4%; }
                &.row-school{     	 width: 16%; } 
                &.row-year{       	 width: 10%; }
                &.row-grade{      	 width: 10%; } 
                &.row-class{      	 width: 14%; }
                &.row-teacher{    	 width: 12%; } 
                &.row-studentCount{  width: 14%; }
                &.row-studentList{   width: 10%; } 
                &.row-status{        width: 10%; }      
            }   
        }
    }
    > tbody{
        > tr{
            > td {
                &.row-student-list{ 
                    padding-left: .5rem;
                    padding-right: .5rem;
                }      
            }   
        }
    }
}



.waitingBlock{
    background-color: lighten($primary, 52%);
    border: 2px dashed $gray-400;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
    @media screen and (min-width: 1200px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 50%;
    }
    h3{
        margin-bottom: 1.5rem;
    }
    .input-group-clear > input{
        max-width: 240px;
    }
}
.classStudentBlock{
    background-color: transparent;
    border: 2px dashed transparent;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
    @media screen and (min-width: 1200px) {
    padding-top: 2rem;
    padding-bottom: 2rem;    
    width: 83.33333333%;
    } 
    h3{
        margin-bottom: 1.5rem;
    }
    .input-group-clear > input{
        max-width: 240px;
    }
}


.waitingBlock, 
.waitingBlock + .classStudentBlock{
    &.step1, .step1{
        display: block;    
    }
    &.step2, .step2{
        display: none;    
    }
}
.waitingBlock.open, 
.waitingBlock.open + .classStudentBlock{
    width: 100%;
    @media screen and (min-width: 1200px) {
    width: 50%;
    } 
    &.step1, .step1{
        display: none;    
    }
    &.step2, .step2{
        display: block;    
    }
}




.table-studentList, .table-waitingList{ 
   > thead, > tbody{
        > tr{
            >th, > td {
                 &.row-check{     	width:  7%; }
                 &.row-index{       width:  7%; }  
                 &.row-account{    	width: 30%; }  
                 &.row-password{   	width: 11%; }  
                 &.row-chineseName{	width: 12%; }  
                 &.row-grade{      	width: 10%; }  
                 &.row-class{      	width: 10%; }  
                 &.row-studentId{   width: 10%; }  
                 &.row-entryYear{ 	width: 10%; }       
            }   
        }
    } 
}