.table-session{  
    > thead, > tbody{
        > tr{
            >th, > td {
                &.col-index			{ width:  4%; }
                &.col-session		{ width: 12%; }
                &.col-remark		{ width: 12%; }
                &.col-startTime { width: 16%; }
                &.col-endTime		{ width: 16%; }
                &.col-testNum		{ width:  8%; }
                &.col-doneNum		{ width:  8%; }
                &.col-tool			{ width: 14%; }
                &.col-status			{ width: 10%; }
            }   
        }
    } 
}

[class*="btn-session"]{
    line-height: 1;
}

.table-sessionStudentList{
    min-width: 730px;
    > thead, > tbody{
        > tr{
            >th, > td {
                  &.col-index					{ width:   8%; }
                  &.col-grade					{ width:  10%; }
                  &.col-class					{ width:  12%; }
                  &.col-studentName		{ width:  13%; }
                  &.col-Sid						{ width:  13%; }
                  &.col-account				{	width:  34%; }  
                  &.col-status					{ width:  10%; } 
            }
        }
    }

}

.table-studentSet{
		min-width: 730px;
    > thead, > tbody{
        > tr{
            >th, > td {
                  &.col-classCheck	{ width:  24%; }
                  &.col-studentName	{ width:  18%; }
                  &.col-studentId		{ width:  18%; }
                  &.col-account			{ width:  40%; }  
            }
        }
    }
	 	> thead{
        > tr{
            >th, > td {
            	&.col-classCheck	{ 
								.form-check{
									vertical-align: middle;
									.form-check-input{
										margin-right: 0;
									}
									+ .btn::after {
										display: inline-block;
										vertical-align: middle;
										flex-shrink: 0;
										width: var(--bs-accordion-btn-icon-width);
										height: var(--bs-accordion-btn-icon-width);
										margin-left: auto;
										content: "";
										background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='#{$primary}' stroke-linecap='round' stroke-linejoin='round'><path d='m2 5 6 6 6-6'/></svg>")); 
										background-repeat: no-repeat;
										background-size: var(--bs-accordion-btn-icon-width);
										transition: var(--bs-accordion-btn-icon-transition);
									}
									+ .btn:not(.collapsed)::after {
											transform: var(--bs-accordion-btn-icon-transform);
									}
								}
							}
           }
        }
    }
}
