.table-classScore{  
    > thead, > tbody{
        > tr{
            >th, > td {
                &.col-index						{ width:  4%  ; }
                &.col-date						{ width:  9%  ; }
                &.col-grade						{ width:  4%  ; }
                &.col-class						{ width:  8%  ; }
                &.col-studentId				{ width:  7%  ; }
                &.col-studentName			{ width:  8%  ; }
                &.col-DACCall					{ width: 12.5%; }
                &.col-DACCword				{ width:  8%  ; }
                &.col-DACCsuperficial	{	width: 10.5%; }
                &.col-DACCtextual			{ width:  8%  ; }
                &.col-DACCinference		{ width:  8%  ; }
                &.col-DACCanalysis		{ width:  8%  ; } 
                &.col-PR							{ width:  5%  ; }
            }   
        }
    } 
    > tbody{
        > tr{
            > td {
                &.col-DACCall{          background-color: rgba($DACCblue,   .1); } 
                &.col-DACCword{         background-color: rgba($DACCred,    .1); }
                &.col-DACCsuperficial{  background-color: rgba($DACCyellow, .1); }
                &.col-DACCtextual{      background-color: rgba($DACCpurple, .1); }
                &.col-DACCinference{    background-color: rgba($DACCcyan,   .1); }
                &.col-DACCanalysis{     background-color: rgba($DACCgreen,  .1); } 
            }   
        }
    }
}