.table-RPmanage-overview{
    > thead, > tbody{
        > tr{
            >th, > td {	
				&.col-index{ 		 width:  5%;}
                &.col-year					{ width: 19%; }
                &.col-grade					{ width: 19%; }
                &.col-class					{ width: 19%; }
                &.col-studentCount	{ width: 19%; }
                &.col-RP						{	width: 19%; }
            }   
        }
    }	
}

.table-classRP {
    > thead, > tbody{
        > tr{
            >th, > td {	
								&.col-index							{ width:  4%; }
                &.col-studentName				{ width: 11%; }
                &.col-DACC							{	width: 11%; }
                &.col-RPcount						{ width:  9%; }
                &.col-quiz							{ width: auto;}
                &.col-myStudy						{	width: auto;}
								&.col-superBoard				{ width:  9%; }
								&.col-studentRP					{ width:  9%; }

								&.col-quizPassed				{ width: 9%; }
								&.col-quizReview				{ width: 6%; }
								&.col-quizB							{ width: 5%; }
								&.col-quizA							{ width: 5%; }
								&.col-quizAplus					{ width: 5%; }
								&.col-myStudyBookCount	{ width: 8%; }
								&.col-myStudyItemCount	{ width: 9%; }
            }   
			
        }
    }
	> tbody{
        > tr{
            >th, > td {	
				&.col-myStudyItemCount{ 
					.itemCount-space{  
						width: calc((1em + .05rem)*3);
						display: inline-block;
						text-align: justify; 
						text-align-last: justify; 
						vertical-align: top;
						height: 1em * $line-height-base;
						&::after{
							content:'';
							display: inline-block;
							width: 100%;
						}
					}
				}
            }   
        }
    }
}
