.table-courseActivity{
	> thead, > tbody{
    > tr{
			>th, > td {
				&.col-index				{	width:  4%;		}
				&.col-grade				{	width:  6%;		}
				&.col-class				{	width:  6%;		}
				&.col-studentName	{	width: 12%;		}
				&.col-bookTitle		{ width: 17.5%; }
				&.col-topicType		{ width: 9.5%;  }
				&.col-scroeComp		{ width: 10%;		}
				&.col-likeCmt			{ width: 10%;		}
				&.col-tool				{ width: 25%;		}	
			}
		}
	}
	> tbody{
    > tr{
			>th, > td {
				&.col-likeCmt			{ filter: grayscale(1);	}
			}
		}
	}
}

.flex-center{
	display: flex;
	align-items: center; 
	justify-content: center;
}
@import "../modules/upload-pic";
@import "../modules/upload-video";
@import "../modules/audioRecord";

@import "../modules/fillAssessment";
.fillAssessment-header{
	@media screen and (min-width: 1200px) {
	padding-left: 0;	
	padding-right: 0;
	}
	.fillAssessment-title{ 
		.fillAssessment-title__text{
			>h1{
				font-size: 1rem;
				font-weight: 500;
				>small{
					font-size: 1rem;
					font-weight: 500;
					color: $body-color;
				}
			}
		}
	}
	.fillAssessment-book{
		.fillAssessment-book__intro{
			>h2{
				font-weight: 500;
			}
			>p{
				font-weight: 400;
				margin-bottom: 0;
			}
		}
	}
}
.fillAssessment-section{
	margin-bottom: 2rem;
	.fillAssessment-section__header{
		font-weight: 400;
	}
}
.grayscale {
    filter: grayscale(1);
 }

.fillAssessment-footer{
	margin-top: 0;
	margin-bottom: 2.5rem;
	.fillAssessment-btns{
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: .8rem;
	}
}

@import "../modules/myStudy";

