.table-RPmanage-overview{
    > thead, > tbody{
        > tr{
            >th, > td {	
				&.row-index{ 		 width:  5%;}
                &.row-year{ 		 width: 19%;}
                &.row-grade{		 width: 19%;}
                &.row-class{ 		 width: 19%;}
                &.row-studentCount{  width: 19%;}
                &.row-RP{			 width: 19%;}
            }   
        }
    }	
}

.table-classRP {
    > thead, > tbody{
        > tr{
            >th, > td {	
				&.row-index{ 	   width:  4%;}
                &.row-studentName{ width: 11%;}
                &.row-DACC{		   width: 11%;}
                &.row-RPcount{ 	   width:  9%;}
                &.row-quiz{  	   width: auto;}
                &.row-myStudy{	   width: auto;}
				&.row-superBoard{  width:  9%;}
				&.row-studentRP{   width:  9%;}
				
				&.row-quizPassed{    	width: 9%;}
				&.row-quizReview{    	width: 6%;}
				&.row-quizB{    		width: 5%;}
				&.row-quizA{    		width: 5%;}
				&.row-quizAplus{    	width: 5%;}
				&.row-myStudyBookCount{ width: 8%;}
				&.row-myStudyItemCount{ width: 9%;}
            }   
			
        }
    }
	> tbody{
        > tr{
            >th, > td {	
				&.row-myStudyItemCount{ 
					.itemCount-space{  
						width: calc((1em + .05rem)*3);
						display: inline-block;
						text-align: justify; 
						text-align-last: justify; 
						vertical-align: top;
						height: 1em * $line-height-base;
						&::after{
							content:'';
							display: inline-block;
							width: 100%;
						}
					}
				}
            }   
        }
    }
}
