.table-quiz{
    > thead, > tbody{
        > tr{
            >th, > td {
                &.col-delete			{	width:   4%; }
                &.col-index				{	width:   4%; }
                &.col-bookTitle		{ width:  16%; }
                &.col-ISBN				{ width:  16%; }
                &.col-author			{ width:  16%; }
                &.col-quizCount		{ width:  16%; }
                &.col-quizDetail	{ width:  16%; }
                &.col-quizInsert	{ width:  16%; }
            }   
        }
    }
}

.table-quiz-detial{
    > thead, > tbody{
        > tr{
            >th, > td {
							&.col-index							{	width:    4%;   }
							&.col-quizTitle					{	width:   29%;   }
							&.col-quizCount					{	width:   15.5%; }
							&.col-propStatus				{	width:   10%;   }
							&.col-assignClassCount	{ width:   15.5%; }
							&.col-editDate					{	width:   13%;   }
							&.col-tool							{	width:   13%;   }
            }   
        }
    }	
}

.modal-quiz{
	//預設
	.modal-quiz-block{
		position: relative;
		.btn-close{ 
			display: none;
			position: absolute;
			top: .5rem;
			left: .5rem;
		}
		.modal-quiz-gradingWeight{ display: none;}
		.multiple, .picture, .QandA, .video { display: none;}	
	}
	.modal-quiz-sortableTip{ display: none;}
	.modal-quiz-assign{ display: none;}
	.modal-quiz-checkbox{ 
		display: none;
		.d-grid{
			gap: 0; 
    		grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
			 align-items: stretch;
		}
	}
	
	//
	.modal-quiz-block.bg-primary-dashed {
		.btn-close{ 
			display: block;
		}
		.modal-quiz-gradingWeight{ display: block;}
	}
}

.bg-primary-dashed{
	background-color: $primary;
	background-color: rgba(var(--bs-primary-rgb), 0.1);
	border: 2px dashed var(--bs-border-color);
	padding-top: map-get($spacers, 3);
	padding-bottom: map-get($spacers, 3);
	
}