.table-portfolio{
    > thead, > tbody{
        > tr{
            >th, > td {
                &.col-index							{	width:  4%; }
                &.col-studentName				{ width: 12%; }
                &.col-skillTotal				{ width: 11%; }
                &.col-skillItem					{ width: auto;}
                &.col-studentAssessment { width: 11%; }
                &.col-teacherFeedback		{ width: 11%; }
                &.col-portfolio					{ width: 11%; }
				
								&.col-skillRP						{ width: 8%; }
								&.col-skillRE						{ width: 8%; }
								&.col-skillAR						{ width: 8%; }
								&.col-skillRG						{ width: 8%; }
								&.col-skillPR						{ width: 8%; }
            }   
        }
    }
	> thead > tr >th.col-skillRP { border-left-color: transparent; }
}

.table-performance{
    > thead, > tbody{
        > tr{
            >th, > td {
                &.col-check					{	width:  4%; }
                &.col-year					{ width: 16%; }
                &.col-grade					{ width: 16%; }
                &.col-class					{ width: 16%; }
                &.col-teacher				{ width: 16%; }
                &.col-studentCount	{ width: 16%; }
                &.col-studentMenu		{ width: 16%; }
            }   
        }
    }
	  > tbody{
        > tr.dt-hasChild{
					+ tr > td {
						border-left-color: transparent;
						.table-responsive{
							max-height: calc((2em + .75rem*2 + 1px)*5 + 1px);
							overflow-y: scroll;
						}
					}
        }
    }
}
.table-performance-students{
	> tbody{
        > tr{
            >th, > td {
							height: 2em;
    					min-height: 2em;
            }   
        }
    }

}

.table-studentRA{
	> thead, > tbody{
		> tr{
			>th, > td {
				&.col-index					{	width:  5%; }
				&.col-grade					{ width:  6%; }
				&.col-class					{ width:  6%; }
				&.col-studentName		{ width: 10%; }
				&.col-DACC					{ width: 12%; }
				&.col-RAplanning		{ width: 10%; }
				&.col-RAexecution		{ width: 10%; }
				&.col-RAproficiency	{ width: 10%; }
				&.col-RARAerudition	{ width: 10%; }
				&.col-total					{ width: 10%; }
				&.col-portfolio			{ width: 10%; }
			}   
		}
	}
}

.studentRAportfolio-chart{
	margin-bottom: map-get($spacers, 5);
	.studentRAportfolio-chart-legend{ 
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		gap: 20px;
		margin-top: 1rem;
		margin-bottom: 1.5rem;
		.legend-item{
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			border: 1px solid $border-color;
			padding: 7px 5px;
			border-radius: 2rem;
			.legend-dot{
				display:inline-block;
				width: 24px;
				height: 24px;
				border-radius: 100%;
				margin-right: 5px;
			}
			.legend-text{
				font-size: 14px;
				margin-right: 2px;
			}
		}
		.legend-item.is-hidden{
			text-decoration: line-through;
		}
	}
}

.table-studentRAportfolio{
	> thead, > tbody{
		> tr{
			>th, > td {
				&.col-index					{	width:  5%; }
				&.col-dateRange			{	width: 33%; }
				&.col-RAplanning		{ width: 12%; }
				&.col-RAexecution		{ width: 12%; }
				&.col-RAproficiency	{ width: 12%; }
				&.col-RARAerudition	{ width: 12%; }
				&.col-total					{ width: 12%; }
				&.col-portfolio			{ width: 12%; }
			}   
		}
	}	
}



