.table-courseActivity{
	> thead, > tbody{
        > tr{
			>th, > td {
				&.td-no{	width: 4%;}
				&.td-grade{	width: 6%;}
				&.td-class{	width: 6%;}
				&.td-Cname{	width: 12%;}
				&.td-book{width: 17.5%;}
				&.td-topic{width: 9.5%;}
				&.td-scroeComp{width: 10%;}
				&.td-likeCmt{width: 10%;}
				&.td-tools{width: 25%;}	
			}
		}
	}
	 > tbody{
        > tr{
            > td {
				&.td-no{
				}
				&.td-grade{	}
				&.td-class{	}
				&.td-Cname{	}
				&.td-book{}
				&.td-topic{}
				&.td-scroeComp{}
				&.td-likeCmt{filter: grayscale(1) saturate(50%);}
				&.td-tools{}	
			}
		}
	}
}

.flex-center{
	display: flex;
	align-items: center; 
	justify-content: center;
}
@import "../modules/upload-pic";
@import "../modules/upload-video";
@import "../modules/audioRecord";

@import "../modules/fillAssessment";
.fillAssessment-header{
	@media screen and (min-width: 1200px) {
	padding-left: 0;	
	padding-right: 0;
	}
	.fillAssessment-title{ 
		.fillAssessment-title__text{
			>h1{
				font-size: 1rem;
				font-weight: 500;
				>small{
					font-size: 1rem;
					font-weight: 500;
					color: $body-color;
				}
			}
		}
	}
	.fillAssessment-book{
		.fillAssessment-book__intro{
			>h2{
				font-weight: 500;
			}
			>p{
				font-weight: 400;
				margin-bottom: 0;
			}
		}
	}
}
.fillAssessment-section{
	margin-bottom: 2rem;
	.fillAssessment-section__header{
		font-weight: 400;
	}
}
.grayscale {
    filter: grayscale(1);
 }

.fillAssessment-footer{
	margin-top: 0;
	margin-bottom: 2.5rem;
	.fillAssessment-btns{
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: .8rem;
	}
}

@import "../modules/myStudy";

