.table-designatedLists{
    min-width: 1430px;
    > thead, > tbody{
        > tr{
            >th, > td {
                &.td-delete{      width:  4%;}
                &.td-no{          width:  4%;}
                &.td-bookList{    width: 21%;}
                &.td-year{        width: 15%;}
                &.td-bookNum{     width: 15%;}
                &.td-classNum{    width: 15%;}
                &.td-assignClass{ width: 10%;}
                &.td-editList{    width: 10%;}
                &.td-state{       width: 10%;}
            }   
        }
    }
}


.indecrease-block{
    border: 2px dashed $gray-400;
    background-color: lighten($primary, 52%);
}