.table-sessionLists{  
    min-width: 1430px;
    > thead, > tbody{
        > tr{
            >th, > td {
                &.td-no{        width:  4%;}
                &.td-session{   width: 12%;}
                &.td-remark{    width: 12%;}
                &.td-startTime{ width: 16%;}
                &.td-endTime{   width: 16%;}
                &.td-testNum{   width:  8%;}
                &.td-doneNum{   width:  8%;}
                &.td-tools{     width: 14%;}
                &.td-state{     width: 10%;}
            }   
        }
    } 
    > tbody{
        > tr{
            > td {
            }   
        }
    }
}

[class*="btn-session"]{
    line-height: 1;
}

.table-sessionStudentLists{
    min-width: 730px;
    > thead, > tbody{
        > tr{
            >th, > td {
                  &.td-no{       width:   8%;}
                  &.td-grade{    width:  10%;}
                  &.td-class{    width:  12%;}
                  &.td-Cname{    width:  13%;}
                  &.td-Sid{      width:  13%;}
                  &.td-account{  width:  34%;}  
                  &.td-state{    width:  10%;} 
            }
        }
    }

}

.table-studentSet{
    min-width: 730px;
    > thead, > tbody{
        > tr{
            >th, > td {
                  &.td-classCheck{   width:  25%;}
                  &.td-Cname{        width:  17%;}
                  &.td-Sid{          width:  15%;}
                  &.td-account{      width:  43%;}  
            }
        }
    }
}

.accordion-StudentSet{
    .accordion-body{
       /* border-color: transparent;*/
        .table-responsive:not(:first-child){
            /*margin-top: -1px;*/        
        }
        //.table:not(:first-child){
            //margin-top: -1px;
        //}
    }
}

.table-collapse {
    width: 100%;
    border: none;
    background-color: transparent;
    color: $primary;
    margin: -0.5rem -0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after{ 
        content: "";
        display: inline-block;
        flex-shrink: 0; 
        width: 1em;
        height: 1em;
        margin-left: 0.2em; 
        background-image: var(--bs-accordion-btn-icon);
        background-repeat: no-repeat;
        background-size: var(--bs-accordion-btn-icon-width);
        transition: var(--bs-accordion-btn-icon-transition);
    }
    &:hover{
        color: shade-color($primary, 15%); 
        &::after{ 
            filter: brightness(0.85); 
        }
    }
    
}
.table-collapse:not(.collapsed){
    &::after{ 
        transform: var(--bs-accordion-btn-icon-transform);
    }
}
