.table-gradeStatistics{
    min-width: 1430px;
    > thead, > tbody{
        > tr{
            >th, > td {
                &.td-no{               width:  4%;}
                &.td-grade{            width:  7%;}
                &.td-average{          width:  7%;}
                &.td-DACCall{          width: 16%;}
                &.td-DACCword{         width: 13%;}
                &.td-DACCsuperficial{  width: 14%;}
                &.td-DACCtextual{      width: 13%;}
                &.td-DACCinference{    width: 13%;}
                &.td-DACCanalysis{     width: 13%;} 
            }   
        }
    }
    > tfoot{
        > tr{
            > td{
                background-color: #e8f8ff;    
            }
        }
    }
}

.table-classStatistics{
    min-width: 1430px;
    > thead, > tbody{
        > tr{
            >th, > td {
                &.td-no{               width:  4%;}
                &.td-class{            width:  7%;}
                &.td-average{          width:  7%;}
                &.td-DACCall{          width: 16%;}
                &.td-DACCword{         width: 13%;}
                &.td-DACCsuperficial{  width: 14%;}
                &.td-DACCtextual{      width: 13%;}
                &.td-DACCinference{    width: 13%;}
                &.td-DACCanalysis{     width: 13%;}  
            }   
        }
    }
    > tfoot{
        > tr{
            &:nth-child(1)> td{  
                background-color: #f6ffe8;   
            } 
            &:nth-child(2)> td{
                background-color: #fffae8;  
            } 
        }
    }
}