.table-classScore{  
    > thead, > tbody{
        > tr{
            >th, > td {
                &.td-no{               width:  4%  ;}
                &.td-date{             width:  9%  ;}
                &.td-grade{            width:  4%  ;}
                &.td-class{            width:  8%  ;}
                &.td-Sid{              width:  7%  ;}
                &.td-Sname{            width:  8%  ;}
                &.td-DACCall{          width: 12.5%;}
                &.td-DACCword{         width:  8%  ;}
                &.td-DACCsuperficial{  width: 10.5%;}
                &.td-DACCtextual{      width:  8%  ;}
                &.td-DACCinference{    width:  8%  ;}
                &.td-DACCanalysis{     width:  8%  ;} 
                &.td-PR{               width:  5%  ;}
            }   
        }
    } 
    > tbody{
        > tr{
            > td {
                &.td-DACCall{          background-color: rgba($DACCblue,   .1);} 
                &.td-DACCword{         background-color: rgba($DACCred,    .1);}
                &.td-DACCsuperficial{ background-color: rgba($DACCyellow, .1);}
                &.td-DACCtextual{      background-color: rgba($DACCpurple, .1);}
                &.td-DACCinference{    background-color: rgba($DACCcyan,   .1);}
                &.td-DACCanalysis{     background-color: rgba($DACCgreen,  .1);} 
            }   
        }
    }
}