.page-banner.about-us-banner{
	background-image:url(../images/about/about-us/banner-bg.jpg);
	background-position:left center;
	@media screen and (min-width: 992px) {
	background-position:center center;	
	}
	h1{ 
		font-size:1.8em;
		font-weight:400;
		line-height:1em;
		margin-top:0;
		margin-bottom:0;
		text-align:center;
		@media screen and (min-width: 992px) {
		text-align:left;
		}
	}
}
.about-us-SR{
	padding-top:100px;
	padding-bottom:100px;
	h2{
		font-size:1.0em;
		font-weight:400;
		text-align:center;
		margin-top:80px;
		margin-bottom:50px;
	}
	p{
		font-size:0.8em;
		line-height:1.875em;
		text-align:left;
		>br{
			display:none;
		}
		@media screen and (min-width: 992px) {
		text-align:center;	
		>br{
			display:block;
		}
		}
	}
}

.about-us-MissionVision{
	background-color:#fafbfc;
	padding-top:20px;
	>.container > .row{ 
		margin-bottom:90px;
		@media screen and (min-width: 768px) {
		@include flex-center;
		}
	}
	h3{
		font-size:1.0em;
		margin-top:0;
		margin-bottom:30px;
	}
	p{
		font-size:0.8em;
		line-height:1.875em;
		>br{
			display:none;
			@media screen and (min-width: 992px) {
			display:block;
			}
		}
	}
}

.about-us-product{
	background-color:#FFF;
	padding-top:70px;
	padding-bottom:40px;
	h2{
		font-size:1.0em;
		font-weight:400;
		text-align:center;
		margin-top:0px;
		margin-bottom:20px;
	}
	.about-us-product__block{
		background-image:url(../images/about/about-us/product-bg.png);
		background-repeat: no-repeat;
		background-size:1536px 100%;
		
		.about-us-product__block-top{
			height:72px;
			background-image:url(../images/about/about-us/product-cover-top.png);
			background-repeat:no-repeat;
			background-position: center center;
			background-size:1536px 100%;
		}
		.about-us-product__block-bottom{
			height:118px;
			background-image:url(../images/about/about-us/product-cover-bottom.png);
			background-repeat:no-repeat;
			background-position: center center;
			background-size:1536px 100%;
			position:relative;
			&::after{
				content:"SR";
				position:absolute;
				bottom:0;
				left:50%;
				font-size:1.8em;
				color:#FFF;
				font-weight:700;
				width:66px;
				height:64px;
				line-height:60px;
				text-align:center;
				margin-left:-33px;
			}
		}
		.about-us-product__block-item{
			@include flex-center;
			background-image:url(../images/about/about-us/product-cover-item.png);
			background-repeat:no-repeat;
			background-position: center center;
			background-size:1536px 1536px;
			position:relative;
			&::after{
				content:"SR";
				position:absolute;
				top:50%;
				left:50%;
				font-size:0.7em;
				color:#FFF;
				font-weight:400;
				width:41px;
				height:37px;
				text-align:center;
				line-height:37px;
				margin-top:-19px;
				margin-left:-21px;
			}
			h3{
				font-size:1.0em;
				font-weight:400;
				margin-top:0px;
				margin-bottom:0px;
				color:#5c6466;
			}
			p{ 
				color:#5c6466;
				margin-bottom:0;
				display:inline-block;
				border:1px dashed #bfb5be;
				border-radius: 8px;
				padding:15px;
				font-size:0.8em;
				line-height:1.875em;
				br{
					display:none;
					@media screen and (min-width: 992px) {
					display:block;		
					}
				}
			}
			&:nth-child(even){ 
				h3{ text-align:right; margin-right:25px;}
				p{ text-align:left; margin-left:15px + 12px; float:left;
					position:relative;
					&:before{ 
						content:"";
						display:block;
						width: 12px;
    					height: 12px;
						border-bottom: 1px dashed #bfb5be;
						border-left: 1px dashed #bfb5be;
						position:absolute; 
						top:50%;
						left:-6px;
						margin-top:-6px;
    					transform: rotate(45deg);
						background-color:#fff;
					}
				}
			}
			&:nth-child(odd){ 
				h3{ text-align:left;margin-left:25px;}
				p{ text-align:right;margin-right:15px + 12px; float:right;
					position:relative;
					&:before{ 
						content:"";
						display:block;
						width: 12px;
    					height: 12px;
						border-bottom: 1px dashed #bfb5be;
						border-right: 1px dashed #bfb5be;
						position:absolute; 
						top:50%;
						right:-6px;
						margin-top:-6px;
    					transform: rotate(-45deg);
						background-color:#fff;
					}
				}
			}
		}
	}
}

.about-us-joinUs{
	padding-top:40px;
	padding-bottom:320px;
	background-image:url(../images/about/about-us/joinUs-bg.png);
	background-repeat:no-repeat;
	background-position:center bottom;
	h2{
		font-size:1.1em;
		font-weight:400;
		text-align:center;
		margin-top:0px;
		margin-bottom:45px;
	}
	p{
		font-size:0.8em;
		line-height:1.875em;
		color:#5c6466;
		text-align:center;
		margin-bottom:60px;
	}
	.about-us-joinUs__btn{
		font-size:0.9em;
		border:1px solid #c6c6c6;
		color:#5c6466;
		background-color:#FFF;
		border-radius:30px;
		padding: 9px 20px;
		position:relative;
		z-index:5;
		&:hover, &:focus, &:active{
			background-color:#5c6466;
			color:#FFF;
		}
	}
}

