html, body {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  font-family: 'Noto Sans', 'Noto Sans TC', 'Microsoft JhengHei', 'PingFang TC', 'Heiti TC', 'LiHei Pro', sans-serif !important;
  letter-spacing: 0.05em;
  font-size: 14px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1400px) {
    font-size: 20px;
  }
}
body {
  background-color: $blue;
  background: url("../images/bg-img-left.png"), url("../images/bg-img-right.png"), url("../images/bg.png");
	background-attachment: fixed;
	background-position: top left, top right, center center;
	background-size: auto 80%, auto 100%,  cover;
	background-repeat: no-repeat;

  &::-webkit-scrollbar{  
		width: 10px;     
		background-color: transparent;
	}  
	&::-webkit-scrollbar-track {
		background-color:  transparent;
	} 
	&::-webkit-scrollbar-thumb {
		background-color: $cyan;
		border-radius: 10px;
	}
}
//主體模板// ************************************************* //
$chat-color: $cyan; //green
$practice-color: $tertiary; //blue
$slash-svg: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='145' height='36' viewBox='0 0 145 36'%3E %3Cg id='Group_185' data-name='Group 185' transform='translate(-9408 -1018)'%3E %3Crect id='Rectangle_66' data-name='Rectangle 66' width='25' height='36' transform='translate(9408 1018)' fill='%23000000'/%3E %3Crect id='Rectangle_67' data-name='Rectangle 67' width='25' height='36' transform='translate(9448 1018)' fill='%23000000'/%3E %3Crect id='Rectangle_68' data-name='Rectangle 68' width='25' height='36' transform='translate(9488 1018)' fill='%23000000'/%3E %3Crect id='Rectangle_69' data-name='Rectangle 69' width='25' height='36' transform='translate(9528 1018)' fill='%23000000'/%3E %3C/g%3E %3C/svg%3E ";
header {
  .header-logo {
    padding: 0 .75rem;
    line-height: 1;
    width: 6rem;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    @media screen and (min-width: 1200px) {
      width: 10%;
    }
    img, svg {
      width: 100%;
    }
  }
}
main {
  width: 100%;
  height: 100%;
  > [class*="container"] {
    height: 100%;
  }
}
.robot-frame {
  //限制高度，故 dialog::before
  height: 20vh;
  max-height: 20vh;
  padding: 0 1rem;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  .avatar {
    flex: 0 0 auto;
    width: auto;
    height: 20vh;
    margin: 0 1rem 0 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 1rem 100%, 1rem calc(100% - 1rem), 0 calc(100% - 1rem));
    @media screen and (min-width: 992px) {
      height: 22.5vh;
      margin: 0 1rem;
    }
    > img, > svg {
      width: auto;
      height: 100%;
    }
  }
  .dialog {
    background-color: $white;
    border-radius: $border-radius;
    border-top-left-radius: 0;
    position: relative;
    box-shadow: $box-shadow-sm;
    .dialog-text {
      padding: .75rem 1rem;
      max-height: 16vh;
      overflow-y: auto;
      h2, .h4 {
        @media screen and (max-width: 575px) {
          font-size: 1rem;
        }
      }
      h2:last-child, .h4:last-child {
        margin-bottom: 0;
      }
      &::-webkit-scrollbar {
        width: 10px;
        background-color: transparent;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $gray-500;
        border: 2px solid $white;
        border-radius: 10px;
      }
    }
    &::before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 1rem 1rem 0;
      border-color: transparent $white transparent transparent;
      position: absolute;
      top: 0;
      left: -1rem;
      z-index: 1;
    }
    &::after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 1rem 1rem 0;
      border-color: transparent rgba($black, .075) transparent transparent;
      position: absolute;
      top: .125rem;
      left: -1rem;
      z-index: -1;
      filter: blur(.25rem);
    }
  }
}

@mixin futuristicFrame($color) {
  ///*.futuristic-frame{  */
  $futuristic-border: .325rem;
  height: calc(100% - 1rem);
  max-height: calc(100% - 1rem);
  padding-top: 1rem;
  position: relative;
  color: $color;
  &::before{
		content: "";
		display: block;
		width: 55%;
		height: 25%;
		max-width: 100%;
		border-radius: 0 0 $border-radius-xl*1.2 0;
		border-bottom: $futuristic-border solid $color;
		border-right: $futuristic-border solid $color;
		position: absolute;
		z-index: -1;
		bottom: -.75rem;
		right: -.75rem;
	}
  .futuristic-frame-border {
    height: 100%;
    max-height: 100%;
    background-color: rgba($black, .25);
    border: $futuristic-border solid transparent;
    border: $futuristic-border solid $color;
		border-radius: $border-radius-xl;
    position: relative;
    padding-left: 0;
    padding-right: 3px;
		box-shadow: 0 0 1rem $cyan;
    &::before {
      content: "";
      display: block;
      width: 70%;
      height: calc(1.5rem + #{$futuristic-border});
      clip-path: polygon(0 0%, 100% 0, 100% 100%, 1.5rem 100%);
      background-color: $color;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 5;
      border-radius: 0 $border-radius-xl*.5 0 0;
    }
  }
  .futuristic-frame-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    height: calc(100% - (1.5rem + #{$futuristic-border}));
    max-height: calc(100% - (1.5rem + #{$futuristic-border}));
    overflow-X: hidden;
    overflow-y: scroll;
    padding: 3rem 1.5rem;
    margin-top: calc(1.5rem + #{$futuristic-border});
    @media screen and (min-width: 576px) and (max-width: 991px) {
      padding: 3rem 6rem;
    }
    @media screen and (min-width: 1400px) {
      padding: 3rem 6rem;
    }
    &::-webkit-scrollbar {
      width: 7px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color;
      border-radius: 7px;
    }
    .futuristic-frame-tool {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 9;
      height: calc(1.5rem + 0.325rem);
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 .75rem;
      a {
        color: shade-color($color, 5%);
        line-height: 1;
        > span {
          display: none;
          @media screen and (min-width: 992px) {
            display: inline;
          }
        }
        i {
          font-size: 1.25rem;
        }
      }
    }
  }
}
.futuristic-frame {
  @include futuristicFrame($primary);
}
.futuristic-frame.chat {
  @include futuristicFrame($chat-color);
}
.futuristic-frame.practice {
  @include futuristicFrame($practice-color);
}
.robot-frame + .futuristic-frame {
  padding-top: 1rem;
  height: calc(80% - 1rem);
  max-height: calc(80% - 1rem);
}

//2026 for SRAgent 看文章
.book-flex{
	display: flex;
	flex-direction: column;
	@media screen and (min-width: 768px) {
	flex-direction: row;
	}
	.report-frame {  /*border: 1px solid red;*/
		width: 100%;
		height: 40%;
		max-width: 100%;
		max-height: 40%;
		order: 1;	
		padding-top: 1rem;
		@media screen and (min-width: 768px) {
		width: 40%;
		height: 100%;
		max-width: 40%;
		max-height: 100%;
		order: 2;		
		padding-left: 1rem;
		padding-bottom: 1rem;	
		}
		.frameBlock { 
			max-width: 100%;
			max-height: 100%;
			background-color: #021650;
			border-radius: $border-radius-xl;
			//padding: $container-padding-x *.75;
			color: $white;
			display: flex;
			flex-direction: column;
			.frameBlock-header{
				display: flex;
				flex-direction: row;
				width: 100%;
				border-bottom: 1px solid rgba($cyan, .25);
				padding: $container-padding-x * .5;
				.frameBlock-title{
					display: flex;
					flex-direction: column;
					.frameBlock-title-h1{
						font-size: $font-size-sm;
						color: $cyan;
					}
					.frameBlock-title-h2{
						font-size: $font-size-sm*.75;
						color: $gray-500;
					}
				}
				.frameBlock-close{
					background-color: transparent;
					border: none;
					color: $cyan;
					margin-right: .25rem;
					transform: rotate(90deg);
					&:hover, &:focus, &:active{
						background-color: rgba($cyan, .1);
					}
					@media screen and (min-width: 768px) {
					transform: rotate(0);	
					}
				}
			}
			.frameBlock-body{
				width: 100%;
				flex: 1;
				padding: $container-padding-x * .75;
				text-shadow: $box-shadow-sm;
				overflow-y: auto;
				&::-webkit-scrollbar{  
					width: 10px;     
					background-color: transparent;
				}  
				&::-webkit-scrollbar-track {
					background-color:  transparent;
				} 
				&::-webkit-scrollbar-thumb {
					background-color: $cyan;
					border-radius: 10px;
				}
			}
		}
	}
	.futuristic-frame {  /*border: 1px solid pink;*/
		width: 100%;
		height: calc(60% - 1rem);
		max-width: 100%; 
		max-height: calc(60% - 1rem);
		order: 2;
		padding-top: 1rem;
		@media screen and (min-width: 768px) {
		width: 60%;
		height: calc(100% - 1rem);
		max-width: 60%; 
		max-height: calc(100% - 1rem);	
		order: 1;	
		}
	}

}



.iframeBlock > iframe {
  position: absolute;
  transform-origin: 0 0;
}
