//聊天所用模板// ************************************************* //
*{
	transition: all .35s ease-in-out;
}
.futuristic-frame.chat{
	.topic-section{
		.btn{
			border-radius: 0 500px 500px 500px;	
			&::after{
				border-radius: 0 500px 500px 500px;	
			}
			&:hover{
				&::after{
					transform: scale(1.075, 1.25);
				}
			}
		}
		.card{
			.card-img{
				border-radius: 0 500px 500px 500px;	
			}
			.task-complete{
				&.all{
					[class*="bookmark"]{
						left: 1.5rem;
						transform: translateX(-50%);
					}
					[class*="crown"]{
						left: 1.5rem;
						transform: translateX(-50%);
					}
					&.done{
						[class*="crown"]{
							color: $chat-color;
						}	
					}
				}
				&.done{
					color: $chat-color;
				}
			}
		}
	}
	.difficulty-section{
		.difficulty-title{
			span{  
				border-top-color: $chat-color;	
				&::before, &::after{ //斜線svg
					background-color: $chat-color; 
				}
			}
			&::before, &::after{  //左右框線
				border-bottom-color: $chat-color;
			}
			&::before{ 
				border-right-color: $chat-color;
			}
			&::after{
				border-left-color: $chat-color;
			}
		}
		.difficulty-btn{
			.task-complete{
				&.easy, &.medium, &.hard{
					&.done{
						color: $chat-color;
					}	
				}
			}
		}
	}
	
	.record-summary{
		.record-title{
			span{  
				border-bottom-color: $chat-color;	
			}
			&::before, &::after{  //左右框線
				border-top-color: $chat-color;
			}
			&::before{ 
				border-right-color:$chat-color;
			}
			&::after{
				border-left-color: $chat-color;
			}
		}
		.record-val{
			border-bottom-color: $chat-color;
		}
	}
	.end-animate{
		.end-an{ 
			.end-an-ball{
				.task-complete{
					color: rgba($white, .75);
					&.done{
						color: $chat-color;
					}
				}
			}	
		}
	}
}


.chatInterface-content{
	padding-bottom: calc((2em + 1rem + 1rem - 2px) + 1rem);
}
.chatInterface-frame{  
	display: flex;
	align-items:flex-start;
	justify-content: flex-start;
	flex-direction: row;
	padding: 1.5rem 1rem;
	.btn{
		padding: 0 0.375rem;
		transition: none;
	}
	.avatar{
		width: 3rem;
		height: 3rem;
		background-color: transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 auto;
		border-radius: 100%;
		overflow: hidden;
		margin-left: 0;
		margin-right: 1rem;
		@media screen and (min-width: 992px) {
		width: 3.75rem;
		height: 3.75rem;
		}
		@media screen and (min-width: 1200px) {
		margin-left: 1rem;
		margin-right: 1rem;	
		}
		.avatar-img{
			display: block;
			width: 100%;
			height: 100%;
			> img{
				width: 100%;
				height: 100%;
			}	
		}
		.avatar-text{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			background-color: $primary;
			color: $white;
			font-size: 3rem*.5;
			@media screen and (min-width: 992px) {
			font-size: 3.75rem*.5;
			}
		}
	}
	.dialog{
		min-width: 5rem;
		max-width: 75%;
		position: relative;
		.dialog-tools{  
			text-align: right;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			transform: translateY(-100%);
		}
		.dialog-text{
			background-color: $white;
			border-radius: $border-radius;
			border-top-left-radius: 0;
			padding: .75rem 1rem .75rem .5rem;	
			color: $body-color;
			position: relative;
			box-shadow: $box-shadow-sm;
			display: flex;
			align-items: flex-start;
			margin-bottom: .25rem;
			&::before{
				content: "";
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 1rem 1rem 0;
				border-color: transparent $white transparent transparent;
				position: absolute;
				top: 0;
				left: -1rem;
				z-index: 1;
			}
			&::after{ 
				content: "";
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 1rem 1rem 0;
				border-color: transparent rgba($black, .15) transparent transparent;
				position: absolute;
				top: .125rem;
				left: -1rem;
				z-index: -1;
				filter: blur(.125rem);
			}
		}
		.dialog-translate{
			font-size: .9rem;
			color: $white;
			padding: .25rem .5rem;
			text-shadow: $box-shadow-sm;
		}
		.dialog-suggest{
			font-size: .9rem;
			color: $white;
			.btn{
				padding-top: 0;
				padding-bottom: 0;
			}
		}
		.dialog-tools, .dialog-translate, .dialog-suggest {
			.btn-link{
				color: $white;
				filter: brightness(5);
				&:hover{
					color: $secondary;
					filter: brightness(1);
				}
			}
		}
		
	}
}
.chatInterface-frame.right{
	display: flex;
	align-items:flex-start;
	justify-content: flex-start;
	flex-direction: row-reverse;
	.avatar{
		margin-left: 1.5rem;
		margin-right: 0;
		@media screen and (min-width: 1200px) {
		margin-left: 1.5rem;	
		margin-right: 1.5rem;	
		}
	}
	.dialog{
		.dialog-text{
			background-color: $primary-100;
			border-radius: $border-radius;
			border-top-right-radius: 0;
			padding: .75rem 1rem .75rem .5rem;	
			&::before{
				border-width: 1rem 1rem 0 0;
				border-color: $primary-100 transparent transparent transparent;
				left: auto;
				right: -1rem;
			}
			&::after{
				border-width: 1rem 1rem 0 0;
				border-color: rgba($black, 0.15) transparent transparent transparent;
				left: auto;
				right: -1rem;
			}
		}
	}
	.avatar[style*="display: none;"] + .dialog{
		margin-right: 1.5rem;
	}
}

.chatInterface-footer{ 
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
    padding: 1rem;
	margin-bottom: 1rem;
	.btn{
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

.completion-section.chat{
	.task-complete{
		&.easy, &.medium, &.hard{
			&.done{
				color: $chat-color;
			}	
		}
	}
}

.btn__teacherTip{
	background-color: transparent;
  border: none;
  padding: 0 !important;;
	width: 2rem;
	text-align: center;
	&::before{ // 有...
		content: "\f4ad";
		font-family: "Font Awesome 6 Free"; 
	  font-weight: 900;
	}
	&::after{// 沒有...
		content: "\f075";
		font-family: "Font Awesome 6 Free"; 
	  font-weight: 900;
	}
	&:hover{
		&::after{
			transform: none;
			transition: none;
		}
  }
}
.btn__teacherTip[aria-expanded="false"]{ //預設 false-(A)O-無老師提示  
	&::after{
		display: none;
  }
	&::after{
		display: inline-block;
  }
}
.btn__teacherTip[aria-expanded="true"]{//true-A(O)-有老師提示 
	&::after{
		display: inline-block;
  }
	&::after{
		display: none;
  }	
}


.btn__translate{
	background-color: transparent;
    border: none;
    padding: 0 !important;
	display: inline-flex;
    &::before{//A
		content: "\41";
		font-family: "Font Awesome 6 Free"; 
		display: inline-flex;
		width: 1.8em;
		height: 1.8em;
		line-height: 1.8em; 
		position: relative;
	    font-weight: 900;
		font-size: .6em;
		background-color: $primary;
		color: $white;
		border: 2px solid $primary !important;
		border-radius: 2px 0 0 2px;
		justify-content: center;
		align-items: center;
		margin-right: -1px;
    }
	&::after{//O
		content: "\f0ac";
		font-family: "Font Awesome 6 Free"; 
		display: inline-flex;
		width: 1.8em;
		height: 1.8em;
		line-height: 1.8em; 
		position: relative;
		border: 2px solid $primary !important;
	    font-weight: 900;
		font-size: .6em;
		background-color: transparent;
		color: $primary;
		border-radius: 0 2px 2px 0;
		justify-content: center;
		align-items: center;
		margin-left: -1px;
    }
	
	&:hover{
		&::after{
			transform: none;
			transition: none;
		}
    }
}
.btn__translate[aria-expanded="false"]{ //預設 false-(A)O-無翻譯  
	&::before{//A
		background-color: $primary;
		color: $white;
    }
	&::after{//O
		background-color: transparent;
		color: $primary;
    }
}
.btn__translate[aria-expanded="true"]{//true-A(O)-有翻譯
	&::before{//A
		background-color: transparent;
		color: $primary;
    }
	&::after{//O
		background-color: $primary;
		color: $white;
    }	
}


.btn__screenText{  
	background-color: transparent;
  border: none;
  padding: 0 !important;;
	width: 2rem;
	text-align: center;
    &::before{
        content: "\f06e";
		display: inline-block;
		font-family: "Font Awesome 6 Free"; 
	    font-weight: 900;
    }
}
.btn__screenText[aria-expanded="true"]{ //true-有眼睛-有顯示機器人說的話
	&::before{
		content: "\f06e";
    }
}
.btn__screenText[aria-expanded="false"]{//false-關閉眼睛-關閉機器人說的話
	&::before{
		content: "\f070";
    }
}

.btn__suggest{  
	background-color: transparent;
    border: none;
    padding: 0 !important;;
	width: auto;
	text-align: center;
	margin-right: .25rem;
    &::before{
        content: "\f4ad";
		display: inline-block;
		font-family: "Font Awesome 6 Free"; 
		transform: scaleX(-1);
    }
}
.btn__suggest[aria-expanded="true"]{ //true-有...-顯示可以這麼說
	&::before{
		content: "\f4ad";
    }
}
.btn__suggest[aria-expanded="false"]{//false-無...-關閉可以這麼說
	&::before{
		content: "\f075";
    }
}

.completion-section.chat{
	color: $chat-color;
	.completion-title{
		span{
			background-color: rgba($chat-color, .25);	
		}
		&::before, &::after{  //左右框
			background-color: rgba($chat-color, .25);
		}
	}
	.completion-content{
		background-color: rgba($chat-color, .25);
	}
	
}


.log-modal.chat{
	color: $chat-color;
	.log-accordion1{
		> .accordion-item{
			> .accordion-header{
				> .accordion-button{
					&:hover{
						background-color: rgba($chat-color, .25);
					}
					&:not(.collapsed){
						background-color: rgba($chat-color, .1);
					}
				}	
			}
			> .accordion-collapse{
				&.collapse.show {
					background-color: rgba($chat-color, .1);	
				}
			}
		}
	}
}


