.index-btn {
	display: flex;
    flex-direction: column-reverse;
	text-align: center;
	i{
		font-size: 5rem;
		color: $primary;
		margin-bottom: 1rem;
	}
	.btn:not(:hover){
		color: $primary;
		border-color: $primary;
		&::after{
			border:  1px solid $primary;;
		}
	}
}
.index-btn.chat{
	.btn:hover{
		+ i{
			color: $secondary;	
			transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
		}
	}
}
.index-btn.practice{
	.btn:hover{
		+ i{
			color: $tertiary;
			transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
		}
	}	
}