.page-grade{
	.bg{
		background-image: url(../images/bg-grade.png);
		background-repeat:no-repeat;
		background-position:left -5% top;
		background-size: auto 100%;
	}
	.header{
		.container{
			background-color:#FFF;
			.header-logo{
				display:none;
			}
		}
	}
	.content{
		.container{
			background-color:#FFF;
			background-image:url(../images/bg-grade.png);
			background-repeat:no-repeat;
			background-position:left 8% bottom 0%;
			background-size:33.33333333% auto;
			h2{
				font-size:1.7em;
				margin-top:60px;
				margin-bottom:50px;
				margin-left:18px;
				@media screen and (max-width: 767px) {margin-top:0px;}
			}
			.btn-demo{
				margin:18px;
				.uni-width{ 
					display:inline-block;
					width:4em;
					.grade-num{ 
						font-size:1.6em;
						line-height:1em;
						font-weight:600;
						display:inline-block;
						vertical-align:middle;
						margin-right:4px;
					}
					.grade-text{  
						display:inline-block;
						vertical-align:middle;
					}					
				}
			}
			.for-padding{
				height:180px;
			}
		}
	}
}

.modal-guide{
	.modal-content{
		border: none;
		.modal-header{
			border-bottom: none;
			background-color:#cad532;
			border-radius: 6px 6px 0 0;
			.modal-title{
				font-size:1.6em;
				font-weight:700;
			}
		}
		.modal-body{
			padding-left:50px;
			padding-right:50px;
			ol li{
				margin-bottom:10px;
			}
			.btn-demo{
				margin-top:30px;
				margin-bottom:30px;
			}
		}
	}
}