.page-index{
	.bg{
		background-image: url(../images/bg-index.jpg);
		background-repeat:no-repeat;
		background-position:center center;
		background-size:100% 100%;
	}
	.header{
		.container{
			background-color:rgba(0,0,0,.5);
		}
	}
	.content{
		.container{
			text-align:center;
			background-color:rgba(0,0,0,.5);
			h2{
				color:#FFF;
				text-shadow:0px 2px 20px rgba(0,0,0,.9);
				font-weight:400;
				font-size:40px;
				margin:0;
			}
			.btn-index{
				display:inline-block;
				color:#FFF;
				margin-top:80px;
				margin-bottom:80px;
				&:hover, &.hover{
					color:#cad532;
				}
				&:active, &.active{
					color:#b4c115;
				}
			}
			.slogan{
				color:#dce74b;
				font-weight:400;
				margin-bottom:0;
				line-height:1.3em;
				font-size:1.7em;
			}
			.slogan-en{
				color:#dce74b;
				font-weight:400;
				margin-bottom:0;
				line-height:1.3em;
				letter-spacing:0.05em;
				padding-right:0.3em;
				font-size:1.38em;
				margin-bottom:50px;
			}
		}
	}
}

