.evaluate-block{
	display: flex;
	font-size: .8rem;
	&:not(:last-child){
		margin-bottom: .5rem;	
	}
	.evaluate-title{
		white-space: nowrap;
	}
	.evaluate-content{
		flex-grow: 1;
		width: 100%;
	}
}