.fillAssessment{
	background-color: $white;

}

///*fillAssessment page template*/
.fillAssessment-header{ 
	padding-top: 0;
	padding-bottom: 1.5rem;
	.fillAssessment-title{  
		padding-top: 1rem;
		padding-bottom: 1rem;
		> .row{
			align-items: center;
		}
		.fillAssessment-title__img{ 
			img{
				width: auto;
				height: auto;
				display: block;
				margin: auto;
			}
		}
		.fillAssessment-title__text{
			>h1{
				font-size: 1rem;
				font-weight: 500;
				margin-bottom: 0;
				display: flex;
    			align-items: center;
				.userScore {
					margin-left: map-get($spacers, 1); 
				}
				>small{
					display: block;
					font-size: .8rem;
					color: $body-color;
					margin-top: 1rem;
				}
			}
		}
	}
	.fillAssessment-book{ 
		background-color: $gray-100;
		padding: 1rem;
		.fillAssessment-book__front{
			overflow: hidden;
			border: 1px solid $gray-400;
			width: 100%;
			height: 0;
			padding-bottom: calc(100%*(222/212));
			img{
				width: 100%;
				height: auto;
			}
		}
		.fillAssessment-book__intro{
			margin-right: calc(var(--bs-gutter-x) * .5 * -1);
    		margin-left: calc(var(--bs-gutter-x) * .5 * -1);
			>h2, >h3{
				font-size: 1rem;
				font-weight: 500;
				width: 100%;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				margin-top: .5rem;
			}
			>p{
				font-size: .8rem;
				width: 100%;
				color: $gray-800;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				margin-bottom: .25rem;
			}
		}
	}
}
.fillAssessment-body{
	
}
.fillAssessment-footer{
	margin-top: 2rem;
	margin-bottom: 2rem;
	.fillAssessment-btns{
	}
}
//*fillAssessment section template*/
.fillAssessment-section{
	margin-bottom: 2rem;
	.fillAssessment-section__header{
		background-color: $gray-200;
		font-size: .9em;
		font-weight: 400;
		color: $gray-800;
		padding: .75rem;
	}
	.fillAssessment-section__body{
	}
}

///*questionType 學生填寫*/
.questionType{
	font-size: .8rem;
	color: $gray-800;
	padding-left: .75rem;
	padding-right: .75rem;
	.questionType__stem{ background-color: rgba(255,0,4, .1);
		padding-top: calc(.25rem + 1px);
		padding-bottom: calc(.25rem + 1px);
		margin-bottom: .5rem;
	}
	.questionType__area{background-color: rgba(255,125,4, .1);
		
	}
	textarea{
		&[readonly]{
			background-color: $white !important;
			border-color: $white !important;
			box-shadow: none !important;
			resize: none !important;
		}
	}
	input[readonly]{
		opacity: 1.0 !important;
		~ label{
			opacity: 1.0 !important;	
		}
	}
}
.questionType.summary{
	padding-left: 0;
	padding-right: 0;
	.questionType__area{ 
		>textarea{
			font-size: .8rem;
			min-height: 250px;
		}
	}
}
.questionType.reflection{
	padding-left: 0;
	padding-right: 0;	
	.questionType__area{
		>textarea{
			font-size: .8rem;
			min-height: 250px;
		}
	}
}
.questionType.choice{
	.questionType__area{
		padding-left:0.8*2em;
		.SRradioRound-green{
			margin-bottom:5px;
		}
	}
}
.questionType.QandA{
	.questionType__area{
		padding-left:0.8*2em;
		>textarea{
			font-size:16px;
			min-height:220px;
			padding: 4px 6px;
		}
	}
}
.questionType.picture{
	.questionType__area{ 
		padding-left: 1em*2;
		p{
			margin-top: .125rem;
			margin-bottom: .125rem;
		}
	}
}
.questionType.video{
	.questionType__area{
		padding-left: 1em*2;
		p{
			margin-top: .125rem;
			margin-bottom: .125rem;
		}
	}
}
//*teacherEvaluation 教師批閱*/
.teacherEvaluation{
	font-size: .8rem;
	color: $gray-800;
	padding-left: .75rem;
	.teacherEvaluation__score{ background-color: rgba(255,0,4, .1);
		margin-bottom: .5rem;
		input{
			color: $primary;
			text-align: center;
		}
	}
	.teacherEvaluation__comments{ background-color: rgba(255,125,4, .1);
		display: flex;
		.teacherEvaluation__comments-title{ 
			white-space: nowrap;
		}
		textarea{
			flex: 1;
			font-size:.8rem;
			resize: none; 
			padding: .375rem;
			color: $primary; 
			margin-left: calc(.25em + 1px);
			min-height: calc(250px - (0.8rem*1.5 + .25rem*2 + 2px) - .5rem);
		}
	}
	input{
		&[readonly]{
			background-color: $white;
			border-color: $white;
			box-shadow: none;
		}
	}
	textarea{
		&[readonly]{
			background-color: $white;
			border-color: $white;
			box-shadow: none;
			resize: none;
		}
	}
}
.teacherEvaluation.choice,
.teacherEvaluation.QandA,
.teacherEvaluation.picture,
.teacherEvaluation.video{
	.teacherEvaluation__comments{
		text-indent: 1.35rem;
	}
}
.teacherEvaluation.choice{
	.teacherEvaluation__comments{
		textarea{
			min-height:100px;
		}
	}
}

//add 2025 for SRteacher