/*fillAssessment page template*/
.fillAssessment-header{
	padding-top: 0px;
	padding-bottom: 1.5rem;
	/*@media screen and (min-width: 1200px) {
	padding-left: 7.5%;	
	padding-right: 7.5%;
	}*/
	.fillAssessment-title{ 
		padding-top: 1rem;
		padding-bottom: 1rem;
		/*>.row{
			@extend .flex-center;
		}*/
		.fillAssessment-title__img{ 
			margin-right: -.75rem;
		}
		.fillAssessment-title__text{
			>h1{
				font-size: 1rem;
				>small{
					display: block;
					font-size: .8rem;
					color: $body-color;
					margin-top: 1rem;
				}
			}
		}
	}
	.fillAssessment-book{
		background-color:#f9f9f9;
		padding:5% 6%;
		/*>.row{
			@extend .flex-center;
		}*/
		.fillAssessment-book__front{
			overflow:hidden;
			border:1px solid #c6c6c6;
			width:100%;
			height:0;
			padding-bottom:106%;
			> img{
				width:100%;
			}
		}
		.fillAssessment-book__intro{
			>h2{
				font-size:1em;
				font-weight:400;
				width:100%;
				white-space:nowrap;
				text-overflow:ellipsis;
				overflow:hidden;
				margin-top:10px;
				margin-left:-8px;
			}
			>p{
				font-size:0.8em;
				font-weight:300;
				width:100%;
				color:$body-color;
				white-space:nowrap;
				text-overflow:ellipsis;
				overflow:hidden;
				margin-left:-8px;
			}
		}
	}
}
.fillAssessment-body{
	/*.fillAssessment-section{}*/
}
.fillAssessment-footer{
	margin-top:50px;
	margin-bottom:50px;
	.fillAssessment-btns{
	}
}


/*fillAssessment section template*/
.fillAssessment-section{
	margin-bottom:40px;
	.fillAssessment-section__header{
		background-color:#f1f1f1;
		font-size:0.9em;
		font-weight:300;
		color:$body-color;
		padding:15px 20px;
	}
	.fillAssessment-section__body{
	}
}

/*questionType */
.questionType{
	.questionType__stem{
		font-size:0.8em;
		color:$body-color;
		display:block;
		margin-bottom:10px;
	}
	.questionType__area{
		font-size:0.8em;
		color:$body-color;
	}
}
.questionType.summary{
	.questionType__stem{}
	.questionType__area{
		>textarea{
			font-size:16px;
			min-height:250px;
		}
	}
}
.questionType.reflection{
	.questionType__stem{}
	.questionType__area{
		>textarea{
			font-size:16px;
			min-height:250px;
		}
	}
}
.questionType.choice{
	.questionType__stem{}
	.questionType__area{
		padding-left:0.8*2em;
		.SRradioRound-green{
			margin-bottom:5px;
		}
	}
}
.questionType.QandA{
	.questionType__stem{}
	.questionType__area{
		padding-left:0.8*2em;
		>textarea{
			font-size:16px;
			min-height:220px;
			padding: 4px 6px;
		}
	}
}
.questionType.picture{
	.questionType__stem{}
	.questionType__area{ 
		padding-left:0.8*2em;
	}
}
.questionType.video{
	.questionType__stem{}
	.questionType__area{
		padding-left:0.8*2em;
	}
}
/*teacherEvaluation */
.teacherEvaluation{
	.teacherEvaluation__score{
		font-size:0.8em;
		color:$body-color;
		margin-bottom:10px;
		height:32px;
		line-height:32px;
		>input{
			text-align:center;
			font-size:16px;
			font-weight:400;
			height: 32px;
    		padding: 2px 2px;
			&.disabled, &[disabled], &[disabled="disabled"]{
				border-color: transparent;
				background-color:transparent;
				box-shadow:none;
				color:$primary;
			}
		}
	}
	.teacherEvaluation__comments{ 
		font-size:0.8em;
		color:$body-color;
		position:relative;
		/*padding-left:0.8em*2;*/
		.teacherEvaluation__comments-title{ 
			position:absolute;
			top:2px;
			/*left:0.8em*2;*/
		}
		>textarea{
			resize:none; 
			/*margin-left:calc(3em + 5px);*/
			font-size:16px;
			padding:2px;
			&.disabled, &[disabled], &[disabled="disabled"]{
				border-color: transparent;
				background-color: transparent;
				box-shadow:none;
				color:$primary;
			}
		}
	}
}
.teacherEvaluation.summary{
	.teacherEvaluation__score{
	}
	.teacherEvaluation__comments{
		padding-left:0.8em*2;
		.teacherEvaluation__comments-title{ 
			left:0;
		}
		textarea{
			margin-left:0.8em*2;
			min-height:210px;
		}
	}
}
.teacherEvaluation.reflection{
	.teacherEvaluation__score{
	}
	.teacherEvaluation__comments{
		padding-left:0.8em*2;
		.teacherEvaluation__comments-title{ 
			left:0;
		}
		textarea{
			margin-left:0.8em*2;
			min-height:210px;
		}
	}
}
.teacherEvaluation.choice{
	.teacherEvaluation__score{
	}
	.teacherEvaluation__comments{
		padding-left:0.8em*2;
		.teacherEvaluation__comments-title{ 
			left:0.8em*2;
		}
		textarea{
			margin-left:calc(3em + 5px);
			min-height:100px;
		}
	}
}
.teacherEvaluation.QandA{
	.teacherEvaluation__score{
	}
	.teacherEvaluation__comments{
		padding-left:0.8em*2;
		.teacherEvaluation__comments-title{ 
			left:0.8em*2;
		}
		textarea{
			margin-left:calc(3em + 5px);
			min-height:210px;
		}
	}
}
.teacherEvaluation.picture{
	.teacherEvaluation__score{
	}
	.teacherEvaluation__comments{
		padding-left:0.8em*2;
		.teacherEvaluation__comments-title{ 
			left:0.8em*2;
		}
		textarea{
			margin-left:calc(3em + 5px);
			min-height:300px;
		}
	}
}
.teacherEvaluation.video{
	.teacherEvaluation__score{
	}
	.teacherEvaluation__comments{
		padding-left:0.8em*2;
		.teacherEvaluation__comments-title{ 
			left:0.8em*2;
		}
		textarea{
			margin-left:calc(3em + 5px);
			min-height:300px;
		}
	}
}
