.glyphicon {
	position: relative;
    display: inline-block;
    width: 1em;
	height: 1em;
	&::before {
    	content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	&.glyphicon-arrow-up::before{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='11px' height='16px'%3E %3Cpath fill-rule='evenodd' fill='rgb(92, 100, 102)' d='M7.395,16.005 L7.395,8.088 L10.501,8.088 L5.500,0.002 L0.500,8.088 L3.605,8.088 L3.605,16.005 L7.395,16.005 Z'/%3E %3C/svg%3E");
	}
	&.glyphicon-arrow-down::before{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='11px' height='16px'%3E %3Cpath fill-rule='evenodd' fill='rgb(92, 100, 102)' d='M7.395,-0.005 L7.395,7.912 L10.501,7.912 L5.500,15.998 L0.500,7.912 L3.605,7.912 L3.605,-0.005 L7.395,-0.005 Z'/%3E %3C/svg%3E");
	}
}