/////// 教師管理端 /////// /////// /////// /////// /////// ///////
.myStudy-h1{
	font-size: 1rem;
	text-align: center;
	margin-bottom: 1rem;
	font-weight: 500;
}
.page-banner.myStudy{
	background-image: url(../images/myStudy/banner-bg.jpg);
	background-position: center top;
	background-size: 100% 120%;
	margin-bottom: 0;
	> .container{ 
		.page-banner__text{
			min-height: 210px; 
			text-align: center;
			h1{ 
				font-size: 1.2rem;
				font-weight: 500;
				margin-top: 0;
				padding-top: 1rem;
				color: #FFF;
				text-align: center;
			}
			h2{
				font-size: 1rem;
				display: inline-block;
				//margin: 1rem auto;
				background-color: rgba($black, .5);
				border-radius: 5em;	
				color: #FFF;
				padding: .5rem .75rem;
			}
		}
	}
}
.myStudy{
	font-size: .8rem;
	color: $gray-800;
	background-color: $view-body-color;
	padding: .5rem 0;
	.myStudy-block{ 
		background-color: #FFF;
		padding: 1rem;
		margin: .5rem 0;
		height: auto;
		overflow: visible;
		@media screen and (min-width: 992px) {
		overflow: hidden;
		}
	}
	.myStudy-remark{
		filter: grayscale(1);
	}
	
	.myStudy-title{
		text-align: center;
		font-weight: 500;
		width: 100%;
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		@media screen and (min-width: 992px) {
		height: 100%;	
		//min-height: 340px;
		}
		>h2{
			margin: 0;
			font-size: 1rem;
			font-weight: 500;
			color: #FFF;
			@media screen and (min-width: 992px) {
			margin-bottom: 75%;
			}
		}
	}
	.myStudy-content{ 
		display: flex;
		width: 100%;
		height: 100%;
	}
	.myStudy-btns{ //教師端尚未使用 20251203
		margin-left: 0;
		margin-right: 0;
		@media screen and (min-width: 992px) {
		margin-left: -.75rem;
		margin-right: -.75rem;	
		}
		.btn{
			margin-top: .75rem;
		}
	}
	.myStudy-remark{
		font-size: .8rem;
		color: lighten($gray-800, 10%);
		margin-top: 1rem;
	}
	
	.myStudy-teacher-title{
		background-color: $gray-200;
		font-size: .8rem;
		color: $gray-900;
		text-align: center;
		padding: .25rem;
		margin-bottom: .5rem;
	}
	.myStudy-teacher-score{ 
		font-size: .8rem;
		margin-bottom: .5rem;
	}
	.myStudy-teacher-comments{
		display: flex;
		.myStudy-teacher-comments__title{
			white-space: nowrap;	
		}
		textarea{
			flex: 1;
			font-size: .8rem;
			resize: none; 
			padding: .375rem;
			color: $primary;
			margin-left: calc(.25em + 1px);
			min-height: 226px;
			&.disabled, &[disabled], &[disabled="disabled"]{
				border-color: transparent;
				background-color:transparent;
				box-shadow:none;
				padding:0 2px;
				color:$primary;
				opacity: 1.0; 
    			filter: alpha(opacity=100);
			}
		}
	}
	
	.note{
		.myStudy-title{
			background-image: url(../images/myStudy/title-note-img.png), url(../images/myStudy/title-note-bg.png);
			background-repeat: no-repeat, no-repeat;
			background-position: left 10% center, center center;
			background-size: auto 90%, 100% 100%;
			@media screen and (min-width: 992px) {
			background-image: url(../images/myStudy/title-note-img.png), url(../images/myStudy/title-note-bg.png);
			background-repeat: no-repeat, no-repeat;
			background-position: center bottom 45px, center center;
			background-size: auto auto, 100% 100%;	
			}
		}
		.myStudy-content{
			textarea{
				width: 100%;
				height: 100%;
				min-height: 226px;
				resize: none; 
				font-size: .8rem;
				color: $gray-800;
				&[readonly]{
					background-color: transparent;
				}
			}
		}
	}
	.paint{
		.myStudy-title{
			background-image: url(../images/myStudy/title-paint-img.png), url(../images/myStudy/title-paint-bg.png);
			background-repeat: no-repeat, no-repeat;
			background-position: left 10% center, center center;
			background-size: auto 90%, 100% 100%;
			@media screen and (min-width: 992px) {
			background-image: url(../images/myStudy/title-paint-img.png), url(../images/myStudy/title-paint-bg.png);
			background-repeat: no-repeat, no-repeat;
			background-position: center bottom 60px, center center;
			background-size: auto auto, 100% 100%;	
			}
		}
		.myStudy-content{
			.upload-pic{
				
			}
		}
	}
	.audio{
		.myStudy-title{
			background-image: url(../images/myStudy/title-audio-img.png), url(../images/myStudy/title-audio-bg.png);
			background-repeat: no-repeat, no-repeat;
			background-position: left 10% center, center center;
			background-size: auto 90%, 100% 100%;
			@media screen and (min-width: 992px) {
			background-image: url(../images/myStudy/title-audio-img.png), url(../images/myStudy/title-audio-bg.png);
			background-repeat: no-repeat, no-repeat;
			background-position: center bottom 60px, center center;
			background-size: auto auto, 100% 100%;	
			}
		}
		.myStudy-content{
			border:1px solid $gray-400;
			align-items: center;
		}
	}
	.video{
		.myStudy-title{
			background-image: url(../images/myStudy/title-video-img.png), url(../images/myStudy/title-video-bg.png);
			background-repeat: no-repeat, no-repeat;
			background-position: left 10% center, center center;
			background-size: auto auto, 100% 100%;
			@media screen and (min-width: 992px) {
			background-image: url(../images/myStudy/title-video-img.png), url(../images/myStudy/title-video-bg.png);
			background-repeat: no-repeat, no-repeat;
			background-position: left -10px bottom 45px, center center;
			background-size: auto auto, 100% 100%;	
			}
		}
		.myStudy-content{
			.upload-video{
				display: flex;
    			flex-direction: column;
				.upload-video__area{
					flex: 1;
				}
			}
		}
		.myStudy-btns{ //教師端尚未使用 20251203
			.video-httpInput{ 
				>input{
					margin-top: .5rem;
				}
				>.input-group-btn > .btn{
					margin-top:10px;
					color:#8a9294;
					background-color:#f9f9f9;
					&:hover:hover,  &:hover:focus,  &:hover:active,
					&:focus:hover,  &:focus:focus,  &:focus:active,
					&:active:hover, &:active:focus, &:active:active{
						color: $primary;
						border-color:$primary;
						background-color:darken(#f9f9f9, 5%);
					}
				}
			}
		}
	}
}
.myStudy-footer{
	background-color: $body-bg;
	padding-top: 1.5rem;
	padding-bottom: 2rem;
	text-align: center;
}