//copy frome 新版-SmartReading，change on 202505 for BS5.2.3 flex
.myStudy-h1{//
	font-size: 1rem;
	text-align: center;
	margin-bottom: 1rem;
	font-weight: 500;
}
.page-banner.myStudy{
	background-image: url(../images/myStudy/banner-bg.jpg);
	background-position: center top;
	background-size: 100% 120%;
	margin-bottom: 0;
	> .container{ 
		.page-banner__text{
			min-height: 210px; //
			text-align: center; //
			//> div{ 
			//	display: table-cell;
			//	vertical-align:top;
			//}
			h1{ 
				font-size: 1.2rem;
				font-weight: 500;
				margin-top: 0;
				padding-top: 1rem;
				color: #FFF;
				text-align: center;
			}
			h2{
				font-size: 1rem;
				display: inline-block;
				margin: 1rem auto;
				background-color: rgba($black, .5);
				border-radius: 5em;	
				color: #FFF;
				padding: .5rem .75rem;
			}
		}
	}
	
	
}
.myStudy{
	background-color:#edf1f4;
	padding: .5rem 0;
	.myStudy-block{
		background-color:#FFF;
		padding: 1rem;
		margin: .5rem 0;
		height:auto;
		overflow: visible;
		@media screen and (min-width: 992px) {
		//min-height:370px;	
		overflow:hidden;
		}
	}
	
	.myStudy-title{
		text-align: center;
		font-weight: 500;
		width: 100%;
		height: 100px;
		margin-bottom: 1rem;
		@media screen and (min-width: 992px) {
		height: 100%;	
		min-height: 340px;
		margin-bottom: .75rem;
		}
		>h2{
			margin: 0;
			font-size: 1rem;
			font-weight: 500;
			color:#FFF;
			padding-top: 2rem;
			@media screen and (min-width: 992px) {
			padding-top: 30%;
			}
		}
	}
	.myStudy-content{ 
		display: flex;
		width: 100%;
		height: 100%;
	}
	.myStudy-btns{
		margin-left: 0;
		margin-right: 0;
		@media screen and (min-width: 992px) {
		margin-left: -.75rem;
		margin-right: -.75rem;	
		}
		.btn{
			margin-top: .75rem;
		}
	}
	.myStudy-remark{
		font-size: .8rem;
		color: lighten($default-gray, 10%);
		margin-top: 1rem;
	}
	
	.myStudy-teacher-title{
		background-color: #f1f1f1;
		font-size: .8rem;
		color :#8a9294;
		text-align:center;
		padding: .25rem;
		margin-bottom: .5rem;
		margin-top: .75rem;
		@media screen and (min-width: 992px) {
		margin-top: 0;	
		}
	}
	.myStudy-teacher-score{ 
		font-size: .8rem;
		//margin-bottom: .5rem;
		//height:32px;
		//line-height:32px;
	}
	.myStudy-teacher-comments{//待修
		font-size: .8em;
		position: relative;
		padding-left:3em; 
		.myStudy-teacher-comments__title{
			position:absolute;
			top:2px;
			left:0;
		}
		>textarea{
			resize:none; 
			height:250px;
			font-size:16px;
			padding: .375rem;
			color: $primary;
			&.disabled, &[disabled], &[disabled="disabled"]{
				border-color: transparent;
				background-color:transparent;
				box-shadow:none;
				padding:0 2px;
				color:$main-color;
				opacity: 1.0; 
    			filter: alpha(opacity=100);
			}
		}
	}
	
	.note{
		.myStudy-title{
			background-image:url(../images/myStudy/title-note-img.png), url(../images/myStudy/title-note-bg.png);
			background-repeat:no-repeat, no-repeat;
			background-position:left 10% center, center center;
			background-size: auto 90%, 100% 100%;
			@media screen and (min-width: 992px) {
			background-image:url(../images/myStudy/title-note-img.png), url(../images/myStudy/title-note-bg.png);
			background-repeat:no-repeat, no-repeat;
			background-position:center bottom 45px, center center;
			background-size: auto auto, 100% 100%;	
			}
		}
		.myStudy-content{
			textarea{
				width: 100%;
				resize:none; 
				height: 100%;//
				font-size: 16px;
				color: $default-black;
				padding: 6px 10px;
				&.disabled, &[disabled], &[disabled="disabled"]{
					background-color:transparent;
				}
			}
		}
	}
	.paint{
		.myStudy-title{
			background-image:url(../images/myStudy/title-paint-img.png), url(../images/myStudy/title-paint-bg.png);
			background-repeat:no-repeat, no-repeat;
			background-position:left 10% center, center center;
			background-size: auto 90%, 100% 100%;
			@media screen and (min-width: 992px) {
			background-image:url(../images/myStudy/title-paint-img.png), url(../images/myStudy/title-paint-bg.png);
			background-repeat:no-repeat, no-repeat;
			background-position:center bottom 60px, center center;
			background-size: auto auto, 100% 100%;	
			}
		}
		.myStudy-content{
			.upload-pic{
				margin:-1px;
			}
		}
	}
	.audio{
		.myStudy-title{
			background-image:url(../images/myStudy/title-audio-img.png), url(../images/myStudy/title-audio-bg.png);
			background-repeat:no-repeat, no-repeat;
			background-position:left 10% center, center center;
			background-size: auto 90%, 100% 100%;
			@media screen and (min-width: 992px) {
			background-image:url(../images/myStudy/title-audio-img.png), url(../images/myStudy/title-audio-bg.png);
			background-repeat:no-repeat, no-repeat;
			background-position:center bottom 60px, center center;
			background-size: auto auto, 100% 100%;	
			}
		}
		.myStudy-content{
			border:1px solid #c6c6c6;
			align-items: center;
		}
	}
	.video{
		.myStudy-title{
			background-image:url(../images/myStudy/title-video-img.png), url(../images/myStudy/title-video-bg.png);
			background-repeat:no-repeat, no-repeat;
			background-position:left 10% center, center center;
			background-size: auto auto, 100% 100%;
			@media screen and (min-width: 992px) {
			background-image:url(../images/myStudy/title-video-img.png), url(../images/myStudy/title-video-bg.png);
			background-repeat:no-repeat, no-repeat;
			background-position:left -10px bottom 45px, center center;
			background-size: auto auto, 100% 100%;	
			}
		}
		.myStudy-content{
			.upload-video{
				display: flex;
    			flex-direction: column;
				.upload-video__area{
					flex: 1;
					
				}
			}
		}
		.myStudy-btns{
			.video-httpInput{ 
				>input{
					margin-top:10px;
				}
				>.input-group-btn > .btn{
					margin-top:10px;
					color:#8a9294;
					background-color:#f9f9f9;
					&:hover:hover,  &:hover:focus,  &:hover:active,
					&:focus:hover,  &:focus:focus,  &:focus:active,
					&:active:hover, &:active:focus, &:active:active{
						color: $main-color;
						border-color:$main-color;
						background-color:darken(#f9f9f9, 5%);
					}
				}
			}
		}
	}
}
.myStudy-footer{
	background-color:#edf1f4;
	padding-top:30px;
	padding-bottom:40px;
	text-align:center;
}