$RAplanning: 		#f16f6f;
$RAexecution:		#ae86c2;
$RAproficiency: #6fd1da;
$RAerudition:   #98dca1;
$RAtotal:				#ebc941;

.table{
	> thead{
		> tr{
			>th, > td {
				&.col-RAplanning{ 	 color: $white; background-color: $RAplanning;  }
				&.col-RAexecution{   color: $white; background-color: $RAexecution; }
				&.col-RAproficiency{ color: $white; background-color: $RAproficiency; }
				&.col-RAerudition{   color: $white; background-color: $RAerudition; }
				&.col-RAtotal{  		 color: $white; background-color: $RAtotal; }
			}   
		}
	}
	 > tbody{
		> tr{
			>th, > td {
				&.col-RAplanning{ 	 background-color: rgba($RAplanning, 		.15); }
				&.col-RAexecution{   background-color: rgba($RAexecution, 	.15); }
				&.col-RAproficiency{ background-color: rgba($RAproficiency, .15); }
				&.col-RAerudition{   background-color: rgba($RAerudition,   .15); }
				&.col-RAtotal{  		 background-color: rgba($RAtotal, 		  .15); }
			}   
		}
	}	
}