.SRaccordion{
    --bs-accordion-color: var(--bs-primary);
    --bs-accordion-border-width: 0; 
    --bs-accordion-border-radius: 0;
		--bs-accordion-inner-border-radius: 0;
    --bs-accordion-btn-focus-box-shadow:  none;
    .accordion-item{
        .accordion-header{
						.accordion-button{
							border: $accordion-border-width $border-style $accordion-border-color;
						}
            .accordion-button,
            .accordion-button:not(.collapsed) {
                font-size: .9rem;
                color: $primary;
                justify-content: center;
                box-shadow: none;
                &::after{
                  margin-left: .2em;
									background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='#{$primary}' stroke-linecap='round' stroke-linejoin='round'><path d='m2 5 6 6 6-6'/></svg>"));
                }
                &:hover{
                    color: shade-color($primary, 15%); 
                    &::after{
                        filter: brightness(0.85); 
                    }
                }
            }
        }
		.accordion-body{
			.table{
				margin-top: -1px !important;
			}
		}
    }
	.accordion-item+ .accordion-item{
		margin-top: -1px;
	}
}


