.SRaccordion{
    --bs-accordion-border-radius: 0;
    --bs-accordion-inner-border-radius: 0;
    --bs-accordion-btn-focus-border-color: transparent;
    --bs-accordion-btn-focus-box-shadow: none;
    .accordion-item{
        .accordion-header{
            .accordion-button,
            .accordion-button:not(.collapsed) {
                font-size: .9rem;
                color: $primary;
                justify-content: center;
                box-shadow: none;
                &::after{
                    margin-left: .2em;
                }
                &:hover{
                    color: shade-color($primary, 15%); 
                    &::after{
                        filter: brightness(0.85); 
                    }
                }
            }
        }
    }
    .accordion-body{ 
        .table-responsive{}
        .table{ 
            margin: -1px;
            width: calc(100% + 1px*2);
        }
    }
}

