.SRform {
    font-size: .9rem;
    font-weight: normal;
    [class*="form-label"]{
        font-size: .8rem;
        .text-red{
            position: absolute;
        }
    }
    .form-check-label{
        font-size: .9rem;
        font-weight: normal;
    } 
    .form-text {
        margin-top: 0;
        font-size: .8rem;
        color: $body-color;
    }
}





