.SRform {
    font-size: .9rem;
    font-weight: normal;
    [class*="form-label"]{
        font-size: .8rem;
        .text-red{
            position: absolute;
        }
    }
    .form-check-label{
        font-size: .9rem;
        font-weight: normal;
    } 
    .form-text {
        margin-top: 0;
        font-size: .8rem;
        color: $body-color;
    }
}


[class*="SRform-check"]{
	.form-check-input:checked[type="checkbox"]{
		--bs-form-check-bg-image: none;
		position: relative;
		&::after{ 
			content: "";
			display: block;
			width: 130%;
			height: 130%;
			position: absolute;
			top: -3px;
			left: -1px;
			background-position: center center;
            background-size: cover;
			background-repeat: no-repeat;
			background-image: escape-svg(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$form-check-input-checked-color}' class='bi bi-check-lg' viewBox='0 0 16 16'%3E %3Cpath d='M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z'/%3E %3C/svg%3E"));
			filter: drop-shadow( 1px  1px white)
					drop-shadow(-1px -1px white)
					drop-shadow(-1px  1px white)
					drop-shadow( 1px -1px white);
		}	
	}
	
}
.SRform-check-red{
	.form-check-input[type="checkbox"]{
		border-color: $red;
		&:focus{
			box-shadow:  0 0 $focus-ring-blur $focus-ring-width rgba($red, $focus-ring-opacity);
		}
	}
  .form-check-input:checked[type="checkbox"]{
		&::after{ 
        	background-image: escape-svg(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$red}' class='bi bi-check-lg' viewBox='0 0 16 16'%3E %3Cpath d='M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z'/%3E %3C/svg%3E"));
		}
  }
	.form-check-input[type="checkbox"]:indeterminate {
		background-image: escape-svg(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='#{$red}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e"));
	}
}


