[class*="SRicon-"] {
    display: inline-flex;
    align-items: center;
    line-height: 1; 
}


.SRicon-upload::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='30.326' viewBox='0 0 40 30.326'%3E %3Cpath id='upload' data-name='upload' d='M19.045,30.326V16.3L16.3,19.219a.565.565,0,0,1-.819.009l-.531-.536a.584.584,0,0,1,0-.82l4.643-4.7a.566.566,0,0,1,.81,0l4.643,4.7a.584.584,0,0,1,0,.82l-.531.537a.569.569,0,0,1-.819-.01L20.957,16.3V30.326ZM16.259,26H8A8,8,0,0,1,8,10a8.127,8.127,0,0,1,1.039.067,11,11,0,0,1,21.922,0A8.183,8.183,0,0,1,32,10a8,8,0,0,1,0,16H23.17V21.839a3.01,3.01,0,0,0,.656.072A3.046,3.046,0,0,0,26.009,21l.528-.534a3.092,3.092,0,0,0,0-4.337L21.9,11.433a3.084,3.084,0,0,0-2.186-.917,3.047,3.047,0,0,0-2.184.913l-4.64,4.7a3.091,3.091,0,0,0,0,4.337l.527.534a3.083,3.083,0,0,0,2.185.917,3.034,3.034,0,0,0,.659-.073V26h0Z' fill='%235c6466'/%3E %3C/svg%3E ");
}
