.upload-video{
	width:100%;//
	height: 100%;//
	.upload-video__area{
		position:relative;
		width:100%;
		height:280px;
		overflow:hidden;
		border:1px solid #c6c6c6;
		font-size:0.8em;
		color:#8a9294;
		.upload-video__area-default{
			position:relative;
			width:100%;
			height:100%;
			background-color:#f9f9f9;
			background-image:url(../images/myStudy/default-block-img.png);
			background-repeat:no-repeat;
			background-size:100% 100%;
			text-align:center;
			/*@extend .flex-center;*/
			.upload-video__area-default__text{
				background-color:#f9f9f9;
				padding:10px;
				>img{ margin-top:10px; margin-bottom:10px;}
			}
		}
		.upload-video__area-answer{
			position:absolute;
			width:100%;
			height:100%;
			top:0;
			left:0;
			right:0;
			bottom:0;
			background-color:#000;
			.upload-video__area-answer__videoWidth{
				max-width:500px;
				height: 100%;
				margin:0 auto;
				> *{
					width: 100%;
					height: 100%;
				}
			}
			.ratio {
				position: relative;
				width: 0;
    			height: 100%;
			}
			.ratio-4x3{
				padding-left: calc((3/4) * 100% );
			}
			.ratio-16x9{
				padding-left: calc((9/16) * 100% );
			}
		}
	}
	.upload-video__btns{
		>.input-group{
			margin-top:10px;
			margin-bottom:10px;
		}
	}
}