$userScore-passed: #43a047;
$userScore-failed: #ff5e5e;

.userScore {
	font-size: .8rem;
	font-weight: 400;
	display: inline-block;
	width: 1.6rem;
	height: 1.6rem;
	line-height: 1.9;
	text-align:center;
	&.bySystem{
		border-radius: 50%;
		&.passed{
			color:#fff;
			background-color: $userScore-passed;
		}
		&.failed{
			color:#fff;
			background-color: $userScore-failed;
		}
	}
	&.byTeacher{
		border-radius: 3px;
		color: #FFF;
		vertical-align: middle;
		&.passed{
			color:#fff;
			background-color: $userScore-passed;
			border:1px solid $userScore-passed;
		}
		&.failed{
			color:#fff;
			background-color: $userScore-failed;
			border:1px solid $userScore-failed;
		}
	}
}

button {
	.userScore {
		&.bySystem{
			&.passed{
				&:hover{
					background-color: darken($userScore-passed, 5%);
				}
			}
			&.failed{
				&:hover{
					background-color: darken($userScore-failed, 10%);
				}
			}
		}
		&.byTeacher{
			&.passed{
				&:hover{
					background-color: darken($userScore-passed, 5%);
					border:1px solid darken($userScore-passed, 5%);
				}
			}
			&.failed{
				&:hover{
					background-color: darken($userScore-failed, 10%);
					border:1px solid darken($userScore-failed, 10%);
				}
			}
		}
	}
}