.page-banner.about-SR-banner{
	background-image:url(../images/about/about-SR/banner-bg.jpg);
	background-position:right center;
	@media screen and (min-width: 768px) {
	background-position:center center;	
	}
	h1{ 
		font-size:1.8em;
		font-weight:400;
		line-height:1em;
		margin-top:0;
		margin-bottom:0;
		color:#FFF;
		text-align:center;
	}
}


.about-SR-intro{
	padding-top:85px;
	padding-bottom:115px;
	h2{
		font-size:1.0em;
		font-weight:500;
		color:$default-black;
		margin-bottom:15px;
		text-align:center;
		@media screen and (min-width: 992px){
		text-align:left;	
		}
	}
	p{
		font-size:0.8em;
		line-height:1.875em;
		font-weight:300;
		color:#5c6466;
		text-align:center;
		@media screen and (min-width: 992px){
		text-align:left;	
		}
	}
	p> br{
		display:none;
		@media screen and (min-width: 768px) {display:block;}
	}
	.about-SR-intro__whatIs{
		margin-bottom:115px;
		@media screen and (min-width: 992px) {
		@include flex-center;
		h2, p{
			margin-left:-5.8%;
		}
		}
	}
	.about-SR-intro__whyNeed{
		margin-bottom:60px;
		@media screen and (min-width: 992px) {
		@include flex-center;
		h2, p{
			text-align:right;
		}
		}
	}
}
.about-SR-contrast{
	background-color:#f4f8fb;
	padding-top:60px;
	padding-bottom:25px;
	.about-SR-contrast__text{
		margin-bottom:90px;
		h2{
			font-size:1.0em;
			font-weight:500;
			color:$default-black;
			margin-bottom:40px;
			text-align:center;
		}
		p{
			font-size:0.8em;
			line-height:1.875em;
			font-weight:300;
			color:#5c6466;
			text-align:left;
			@media screen and (min-width: 992px) {
			text-align:center;	
			}
		}
		p> br{
			display:none;
			@media screen and (min-width: 992px) {display:block;}
		}
	}
	.about-SR-contrast__text-table{
		margin-top:40px;
		position:relative;
		z-index:2;
		@media screen and (min-width: 768px){
		&::before{ 
			content:"";
			display:block;
			width:182px;
			height:247px;
			background-image:url(../images/about/about-SR/contrast-text-table-s.png);
			position:absolute;
			bottom:0;
			left:-135px;
			z-index:-1;
		}
		&::after{
			content:"";
			display:block;
			width:251px;
			height:367px;
			background-image:url(../images/about/about-SR/contrast-text-table-t.png);
			position:absolute;
			bottom:0;
			right:-203px;
			z-index:2;
			@media screen and (min-width: 992px){
			right:-183px;
			}
		}
		}
		> table {
			position:relative;
			z-index:1;
			>thead>tr>th{
				width:50%;
				background-color:#f9f9f9;
				text-align:center;
				border-bottom-width: 1px;
				padding: 12px 8px;			
				font-size:0.8em;
				font-weight:400;
			}
			>tbody>tr>td{
				width:50%;
				background-color:#FFF;
				text-align:center;
				color:#5c6466;
				padding: 12px 8px;
				font-size:0.8em;
			}
		}
	}
}


