@import "../base/lang";
@import "../base/base";
label{
	margin-bottom:0;
	font-weight:300;
}
table{ th{ font-weight:300;}}
.course-paper{
	font-size:20px;
	line-height:1em;
	color:#2e3233 !important;
	border:1px solid #c6c6c6 !important;
	background-color:#ffefcd !important;
	padding: 30px 40px;
	margin:0 -15px;
    position: relative;
    .forPrint-logo{
        display: none;
        width: 20%;
        height: 0;
        padding-bottom: 20% * 0.4674;
        position: absolute;
        right: 40px + 15px;
        bottom: 30px + 5px;
        background-image: url("../images/SRlogo.svg");
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
    
	.course-paper-content{
		background-color:#ffffff !important;
		padding:0 15px;
	}
	/**/
	.course-paper__date{
		font-size:0.8em;
		color:#5c6466 !important;
		display:inline-block;
		margin:15px 0px;
		>br{
			@media screen and (min-width: 400px) { 
			display:none;
			}
			@media print {
			display:none;	
			}
		}
	}
	.course-paper__download{ 
		font-size:0.8em;
		color:#ff3535 !important;
		margin:15px 0px;
		float:right;
	}
	/**/
	.course-paper__section1{
		>.row{
			@media screen and (min-width: 768px) {
			display: flex;
			align-items: center; 
			justify-content: center;	
			}
			@media print {
			display: flex;
			align-items: center; 
			justify-content: center;	
			}
		}
	}
	.course-paper__title{
		padding:15px 0;
		@media screen and (min-width: 768px) {
		display: flex;
		align-items: center; 
		justify-content: center;	
		}
		@media print {
		display: flex;
		align-items: center; 
		justify-content: center;	
		}
		.course-paper__title-img{
			text-align:center;
			> img{
				display:inline-block;
			}
			@media screen and (min-width: 768px) {
			text-align:right;	
			}
		}
		.course-paper__title-text{
			font-size:2.4em;
			line-height:1em;
			font-weight:400;
			text-align:center;
			@media screen and (min-width: 768px) {
			text-align:left;	
			}
			@media print {
			text-align:left;	
			}
			>small{
				display:block;
				font-size:0.5em;
				line-height:1em;
			}
		}
	}
	/**/
	.course-paper__data-table{
		width:auto;
		margin:30px auto;
		font-size:0.8em;
		color:#5c6466 !important;
		>tbody>tr{
			>th{ padding:5px 0;}
			>td{ padding:5px 0;}
		}
	}
	.course-paper__decoration{ 
		width:calc(100% + 15px + 15px);
		margin-left:-15px;
		margin-right:-15px;
		height:1px;
        background-image: url("../images/course-paper/deco-line.png") !important;
		background-repeat:repeat-x !important;
		position:relative;
		.decoration-fileRope{ 
			display:none;
			@media screen and (min-width: 768px) {
			display:block;
			width:7.8%;/*(pic width)94/1200*/
			height:0;
			padding-bottom:21.1%;/*(pic height)254/1200*/
			position:absolute;
			bottom:0;
			left:50%;
			margin-left:-3.9%;
			margin-bottom:-3.8%;/*(pic under line space)46/1200*/
			background-image: url(../images/course-paper/deco-fileRope.png) !important;
			background-repeat:no-repeat !important;
			background-size:100% 100% !important;
			background-position:center center !important;
			}
			@media print { 
			display:block;
			width:7.8%;/*(pic width)94/1200*/
			height:0;
			padding-bottom:21.1%;/*(pic height)254/1200*/
			position:absolute;
			bottom:0;
			left:50%;
			margin-left:-3.9%;
			margin-bottom:-3.8%;/*(pic under line space)46/1200*/
			background-image: url(../images/course-paper/deco-fileRope.png) !important;
			background-repeat:no-repeat !important;
			background-size:100% 100% !important;
			background-position:center center !important;
			}
		}
	}
	/**/
	.course-paper__section2{
		padding-top:90px;
		padding-bottom:30px;
	}
	.course-paper__chart-title{
		text-align:center;
		font-weight:500;
		margin-bottom:60px;
		@media screen and (min-width: 992px) and (max-width: 1199px) {
		margin-bottom:80px;	
		}
		@media print {
		margin-bottom:80px;	
		}
	}
	.course-paper__chart-canvas{ 
        background-image: url("../images/course-paper/chart-bg.png") !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        background-size: auto 100% !important;   
		position:relative;
		@media screen and (max-width: 767px) {
		width:calc(100% + 15px + 15px + 40px + 40px);
		margin-left:-15px - 40px;
		margin-right:-15px - 40px;
		}
		@media screen and (min-width: 992px) and (max-width: 1199px) {
		width:calc(100% + 15px + 15px + 40px + 40px);
		margin-left:-15px - 40px;
		margin-right:-15px - 40px;
		}
		@media print {
		width:calc(100% + 15px + 15px + 40px + 40px) !important;
		margin-left:-15px - 40px !important;
		margin-right:-15px - 40px !important;	
		}
		
		.chart-canvas_empty{ 
			position:absolute;
			top:-10%;
			left:0;
			width:100%;
			height:120%;
			background-image:url(../../images/course-paper/chart-empty.png);
			background-repeat:no-repeat;
			background-position:center center;
			background-size:auto 67%;
			background-color:#FFF;
			z-index:10;
			@media screen and (max-width: 767px) {
			width:calc(100% - 15px - 15px - 40px - 40px);
			margin-left:15px + 40px;
			margin-right:15px + 40px;
			}
			@media screen and (min-width: 992px) and (max-width: 1199px) {
			width:calc(100% - 15px - 15px - 40px - 40px);
			margin-left:15px + 40px;
			margin-right:15px + 40px;
			}
			>span{ 
				display:inline-block;
				font-size:0.9em;
				line-height:1.666em;
				color:#7e8081;
				position:absolute;
				left:50%;
				top:50%;
				margin-left:-1em;
				margin-top:-2.5em;
			}
		}
		
		.chart-canvas__pre{
			position:absolute;
			top:0;
			left:0%;
			text-align:center;
			font-size:1.4em;
			font-weight:900;
			color:#5c6466 !important;
			width:100%;
			height:100%;
			display: flex;
			align-items: center; 
			justify-content: center;
			.chart-canvas__pre-flex {
				background-color:#FFF !important;
				width:34.5%;
				height:70%;
				border-radius:50%;
				display: flex;
				align-items: center; 
				justify-content: center;
				-webkit-filter:drop-shadow(0px 0px 5px rgba(67,160,71,.3));
				-mos-filter:drop-shadow(0px 0px 5px rgba(67,160,71,.3));
				-ms-filter:drop-shadow(0px 0px 5px rgba(67,160,71,.3));
				-o-filter:drop-shadow(0px 0px 5px rgba(67,160,71,.3));
				filter:drop-shadow(0px 0px 5px rgba(67,160,71,.3));
			}
			small{
				font-size:0.57em;
				font-weight:300;
				display:block;
				margin-bottom:15px;
				margin-top:-10px;
			}
			label{
				font-size:1em;
				font-weight:900;
			}
		}
		canvas{
			-webkit-filter:drop-shadow(0px 0px 5px rgba(67,160,71,.3));
			-mos-filter:drop-shadow(0px 0px 5px rgba(67,160,71,.3));
			-ms-filter:drop-shadow(0px 0px 5px rgba(67,160,71,.3));
			-o-filter:drop-shadow(0px 0px 5px rgba(67,160,71,.3));
			filter:drop-shadow(0px 0px 5px rgba(67,160,71,.3));
		}
	}
	.course-paper__status-table{
		width:100%;
		font-size:0.8em;
		@media screen and (min-width: 992px) {
		margin-top:-40px;
		}
		@media print {
		margin-top:-40px;	
		}
		>tbody>tr{
			th, td{
				border-bottom:1px solid #c6c6c6 !important;
				padding:40px 0;
				vertical-align:middle;
			}
			th{
				color:#2e3233 !important;
				width:40%;
			}
			td{
				color:#5c6466 !important;
				width:60%;
			}
		}
		>tbody>tr:last-child{
			th, td{
				border-bottom:none;
			}
		}
		.status-table__bookNum{ 
			&:first-child{
				margin-bottom:25px;
			}
			label{
				font-weight:900;
				color:#378a25 !important;
				text-align:center;
				margin:0 0.5em;
			}
		}
		.status-table__performance{
			display:inline-block;
			margin-right:1em;
			label{
				font-weight:900;
				color:#378a25 !important;
				text-align:center;
				margin:0 0.5em;
			}
		}
		.status-table__myStudy{
			display:inline-block;
			min-width:3em;
			float:left;
			text-align:center;
			margin-right:1.6em;
			>label{
				font-weight:900;
				color:#378a25 !important;
				text-align:center;
				display:block;
				margin-bottom:10px;
				width:100%;
			}
		}
		@media screen and (max-width: 767px) {
		>tbody>tr{
			th{ 
				display:block; 
				width:100%;
				border-bottom:none;
				padding-bottom:0;
			}
			td{
				display:block; 
				width:100%;
			}
		}	
		}
	}
	/**/
	.course-paper__section3{ 
		padding-top:30px;
		padding-bottom:40px;
		@media screen and (min-width: 992px) {
		padding-bottom:90px;	
		}
	}
	.course-paper__category-num{
		background-color:#f9f9f9 !important;
		font-size:0.8em;
		padding:17px;
		margin-bottom:22px;
		@media screen and (min-width: 992px) {
		margin-right:-8.33333333%;	
		}
		>label{
			font-weight:900;
			color:#378a25 !important;
			text-align:center;
			margin:0 1em;
		}
	}
	.course-paper__category-ul{
		width:100%;
		font-size:0.8em;
		color:#5c6466 !important;
		list-style:none;
		padding:0;
		margin:0;
		@media screen and (min-width: 992px) {
		width:100% + 8.33333333%;	
		margin-right:-8.33333333%;	
		}
		>li{ 
			list-style:none;
			width:45%;
			float:left;
			padding:4px 0;
			background-image:url(../images/course-paper/category-ul-bg.jpg) !important;
			background-repeat:repeat-x !important;
			background-position:center center !important;
			.category-ul__title{ 
				background-color:#FFF !important;
				display:inline-block;
				/*text-align: justify;*/
				width:auto;
				height:1em;
				line-height:1em;
				overflow:hidden;
				padding-right:10px;
				i{
					display:none;
					width:100%;
					height:0;
				}
			}
			.category-ul__num{
				float:right;
				background-color:#FFF !important;
				>label{
					padding-left:10px;
				}
			}
		}
		>li:nth-child(odd){ margin-right:5%;}
		>li:nth-child(even){ margin-left:5%;}
		@media screen and (max-width: 767px) {
			>li{ 
				width:100%;
				float:none;
			}
			>li:nth-child(odd){ margin-right:0%;}
			>li:nth-child(even){ margin-left:0%;}
		}
	}
	.course-paper__category-img{
		margin-top:50px;
		margin-left:-8.33333333%;
		@media screen and (min-width: 992px) {
		margin-top:20px;	
		}
    }
}


@import "print-md";
@media print {
.forPrint-block{   
    width:1024px;
	height:1448px;
	display: flex;
	align-items: center; 
	justify-content: center;
    .course-paper{
        .forPrint-logo{
            display: block;
        }
    }
}
}
