.embed-responsive-1by1{
	padding-bottom:100%;
}
.embed-responsive-25by16{
	padding-bottom:64%;
}
.embed-responsive-66pre{
	padding-bottom:66%;
}
.embed-responsive-56pre{
	padding-bottom:56%;
}
.embed-responsive .embed-responsive-item, 
.embed-responsive iframe, 
.embed-responsive embed, 
.embed-responsive object, 
.embed-responsive video {
    left:0;
}