/*.modal{
	.modal-dialog{
		.modal-content{
			border-radius: 0px !important;
		}
	}
}*/
.modal-always-full{
    
}
.modal-md-full{
	@media screen and (min-width: 1200px) {
		width:1200px;
	}
}
.modal-style1{
	.modal-content{ 
		border-radius: 0px;
		.modal-header{
			border-bottom: 1px solid transparent;
			.close{
				float:left;
				text-decoration:none;
			}
		}
		.modal-footer{
			border-top: 1px solid transparent;
			text-align:center;
		}
	}
}

.alertModal, .confirmModal{
    .modal-dialog{
        @media screen and (min-width: 768px) {
            width: 500px;    
        }        
    }
    .modal-content{
        font-size: .9em;   
    }
    .modal-body{
        padding: 30px 30px 15px 30px; 
        display: flex;
        justify-content: center;
    }
    .modal-footer{
        .btn{
            font-size: .9em;        
        }
    }
}