/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');*/
body { font-family: 'Noto Sans SC', 'Microsoft JhengHei', 'Noto Sans TC', 'Microsoft YaHei',  'PingFang TC', 'PingFang SC',  'Heiti TC', 'Heiti SC',  'LiHei Pro','STXihei', sans-serif; }

body { font-size: 20px; letter-spacing: 0.02em; color: #2e3233; font-weight: 400; }

/**/
a { text-decoration: none; cursor: pointer; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; color: #0249aa; }

*, *:focus, *:hover { outline: 0px transparent !important; }

.text-red { color: #ff5151; }

.text-indent-2 { text-indent: 2em; }

/**/
.bg-gradient { background-image: url(../images/bg-gradient.png); background-repeat: repeat-x; }

.bg-gradient-gray { background-image: url(../images/bg-gradient-gray.png); background-repeat: repeat-x; }

.colorBg { background-color: #f4f8fb; }

/**/
.noRadius { border-radius: 0 !important; }

label { margin-bottom: 0; font-weight: 300; }

table th { font-weight: 300; }

.course-paper { font-size: 20px; line-height: 1em; color: #2e3233 !important; border: 1px solid #c6c6c6 !important; background-color: #ffefcd !important; padding: 30px 40px; margin: 0 -15px; position: relative; /**/ /**/ /**/ /**/ /**/ }
.course-paper .forPrint-logo { display: none; width: 20%; height: 0; padding-bottom: 9.348%; position: absolute; right: 55px; bottom: 35px; background-image: url("../images/SRlogo.svg"); background-repeat: no-repeat; background-size: 100% auto; }
.course-paper .course-paper-content { background-color: #ffffff !important; padding: 0 15px; }
.course-paper .course-paper__date { font-size: 0.8em; color: #5c6466 !important; display: inline-block; margin: 15px 0px; }
@media screen and (min-width: 400px) { .course-paper .course-paper__date > br { display: none; } }
@media print { .course-paper .course-paper__date > br { display: none; } }
.course-paper .course-paper__download { font-size: 0.8em; color: #ff3535 !important; margin: 15px 0px; float: right; }
@media screen and (min-width: 768px) { .course-paper .course-paper__section1 > .row { display: flex; align-items: center; justify-content: center; } }
@media print { .course-paper .course-paper__section1 > .row { display: flex; align-items: center; justify-content: center; } }
.course-paper .course-paper__title { padding: 15px 0; }
@media screen and (min-width: 768px) { .course-paper .course-paper__title { display: flex; align-items: center; justify-content: center; } }
@media print { .course-paper .course-paper__title { display: flex; align-items: center; justify-content: center; } }
.course-paper .course-paper__title .course-paper__title-img { text-align: center; }
.course-paper .course-paper__title .course-paper__title-img > img { display: inline-block; }
@media screen and (min-width: 768px) { .course-paper .course-paper__title .course-paper__title-img { text-align: right; } }
.course-paper .course-paper__title .course-paper__title-text { font-size: 2.4em; line-height: 1em; font-weight: 400; text-align: center; }
@media screen and (min-width: 768px) { .course-paper .course-paper__title .course-paper__title-text { text-align: left; } }
@media print { .course-paper .course-paper__title .course-paper__title-text { text-align: left; } }
.course-paper .course-paper__title .course-paper__title-text > small { display: block; font-size: 0.5em; line-height: 1em; }
.course-paper .course-paper__data-table { width: auto; margin: 30px auto; font-size: 0.8em; color: #5c6466 !important; }
.course-paper .course-paper__data-table > tbody > tr > th { padding: 5px 0; }
.course-paper .course-paper__data-table > tbody > tr > td { padding: 5px 0; }
.course-paper .course-paper__decoration { width: calc(100% + 15px + 15px); margin-left: -15px; margin-right: -15px; height: 1px; background-image: url("../images/course-paper/deco-line.png") !important; background-repeat: repeat-x !important; position: relative; }
.course-paper .course-paper__decoration .decoration-fileRope { display: none; }
@media screen and (min-width: 768px) { .course-paper .course-paper__decoration .decoration-fileRope { display: block; width: 7.8%; /*(pic width)94/1200*/ height: 0; padding-bottom: 21.1%; /*(pic height)254/1200*/ position: absolute; bottom: 0; left: 50%; margin-left: -3.9%; margin-bottom: -3.8%; /*(pic under line space)46/1200*/ background-image: url(../images/course-paper/deco-fileRope.png) !important; background-repeat: no-repeat !important; background-size: 100% 100% !important; background-position: center center !important; } }
@media print { .course-paper .course-paper__decoration .decoration-fileRope { display: block; width: 7.8%; /*(pic width)94/1200*/ height: 0; padding-bottom: 21.1%; /*(pic height)254/1200*/ position: absolute; bottom: 0; left: 50%; margin-left: -3.9%; margin-bottom: -3.8%; /*(pic under line space)46/1200*/ background-image: url(../images/course-paper/deco-fileRope.png) !important; background-repeat: no-repeat !important; background-size: 100% 100% !important; background-position: center center !important; } }
.course-paper .course-paper__section2 { padding-top: 90px; padding-bottom: 30px; }
.course-paper .course-paper__chart-title { text-align: center; font-weight: 500; margin-bottom: 60px; }
@media screen and (min-width: 992px) and (max-width: 1199px) { .course-paper .course-paper__chart-title { margin-bottom: 80px; } }
@media print { .course-paper .course-paper__chart-title { margin-bottom: 80px; } }
.course-paper .course-paper__chart-canvas { background-image: url("../images/course-paper/chart-bg.png") !important; background-repeat: no-repeat !important; background-position: center center !important; background-size: auto 100% !important; position: relative; }
@media screen and (max-width: 767px) { .course-paper .course-paper__chart-canvas { width: calc(100% + 15px + 15px + 40px + 40px); margin-left: -55px; margin-right: -55px; } }
@media screen and (min-width: 992px) and (max-width: 1199px) { .course-paper .course-paper__chart-canvas { width: calc(100% + 15px + 15px + 40px + 40px); margin-left: -55px; margin-right: -55px; } }
@media print { .course-paper .course-paper__chart-canvas { width: calc(100% + 15px + 15px + 40px + 40px) !important; margin-left: -55px !important; margin-right: -55px !important; } }
.course-paper .course-paper__chart-canvas .chart-canvas_empty { position: absolute; top: -10%; left: 0; width: 100%; height: 120%; background-image: url(../../images/course-paper/chart-empty.png); background-repeat: no-repeat; background-position: center center; background-size: auto 67%; background-color: #FFF; z-index: 10; }
@media screen and (max-width: 767px) { .course-paper .course-paper__chart-canvas .chart-canvas_empty { width: calc(100% - 15px - 15px - 40px - 40px); margin-left: 55px; margin-right: 55px; } }
@media screen and (min-width: 992px) and (max-width: 1199px) { .course-paper .course-paper__chart-canvas .chart-canvas_empty { width: calc(100% - 15px - 15px - 40px - 40px); margin-left: 55px; margin-right: 55px; } }
.course-paper .course-paper__chart-canvas .chart-canvas_empty > span { display: inline-block; font-size: 0.9em; line-height: 1.666em; color: #7e8081; position: absolute; left: 50%; top: 50%; margin-left: -1em; margin-top: -2.5em; }
.course-paper .course-paper__chart-canvas .chart-canvas__pre { position: absolute; top: 0; left: 0%; text-align: center; font-size: 1.4em; font-weight: 900; color: #5c6466 !important; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; }
.course-paper .course-paper__chart-canvas .chart-canvas__pre .chart-canvas__pre-flex { background-color: #FFF !important; width: 34.5%; height: 70%; border-radius: 50%; display: flex; align-items: center; justify-content: center; -webkit-filter: drop-shadow(0px 0px 5px rgba(67, 160, 71, 0.3)); -mos-filter: drop-shadow(0px 0px 5px rgba(67, 160, 71, 0.3)); -ms-filter: drop-shadow(0px 0px 5px rgba(67, 160, 71, 0.3)); -o-filter: drop-shadow(0px 0px 5px rgba(67, 160, 71, 0.3)); filter: drop-shadow(0px 0px 5px rgba(67, 160, 71, 0.3)); }
.course-paper .course-paper__chart-canvas .chart-canvas__pre small { font-size: 0.57em; font-weight: 300; display: block; margin-bottom: 15px; margin-top: -10px; }
.course-paper .course-paper__chart-canvas .chart-canvas__pre label { font-size: 1em; font-weight: 900; }
.course-paper .course-paper__chart-canvas canvas { -webkit-filter: drop-shadow(0px 0px 5px rgba(67, 160, 71, 0.3)); -mos-filter: drop-shadow(0px 0px 5px rgba(67, 160, 71, 0.3)); -ms-filter: drop-shadow(0px 0px 5px rgba(67, 160, 71, 0.3)); -o-filter: drop-shadow(0px 0px 5px rgba(67, 160, 71, 0.3)); filter: drop-shadow(0px 0px 5px rgba(67, 160, 71, 0.3)); }
.course-paper .course-paper__status-table { width: 100%; font-size: 0.8em; }
@media screen and (min-width: 992px) { .course-paper .course-paper__status-table { margin-top: -40px; } }
@media print { .course-paper .course-paper__status-table { margin-top: -40px; } }
.course-paper .course-paper__status-table > tbody > tr th, .course-paper .course-paper__status-table > tbody > tr td { border-bottom: 1px solid #c6c6c6 !important; padding: 40px 0; vertical-align: middle; }
.course-paper .course-paper__status-table > tbody > tr th { color: #2e3233 !important; width: 40%; }
.course-paper .course-paper__status-table > tbody > tr td { color: #5c6466 !important; width: 60%; }
.course-paper .course-paper__status-table > tbody > tr:last-child th, .course-paper .course-paper__status-table > tbody > tr:last-child td { border-bottom: none; }
.course-paper .course-paper__status-table .status-table__bookNum:first-child { margin-bottom: 25px; }
.course-paper .course-paper__status-table .status-table__bookNum label { font-weight: 900; color: #378a25 !important; text-align: center; margin: 0 0.5em; }
.course-paper .course-paper__status-table .status-table__performance { display: inline-block; margin-right: 1em; }
.course-paper .course-paper__status-table .status-table__performance label { font-weight: 900; color: #378a25 !important; text-align: center; margin: 0 0.5em; }
.course-paper .course-paper__status-table .status-table__myStudy { display: inline-block; min-width: 3em; float: left; text-align: center; margin-right: 1.6em; }
.course-paper .course-paper__status-table .status-table__myStudy > label { font-weight: 900; color: #378a25 !important; text-align: center; display: block; margin-bottom: 10px; width: 100%; }
@media screen and (max-width: 767px) { .course-paper .course-paper__status-table > tbody > tr th { display: block; width: 100%; border-bottom: none; padding-bottom: 0; }
  .course-paper .course-paper__status-table > tbody > tr td { display: block; width: 100%; } }
.course-paper .course-paper__section3 { padding-top: 30px; padding-bottom: 40px; }
@media screen and (min-width: 992px) { .course-paper .course-paper__section3 { padding-bottom: 90px; } }
.course-paper .course-paper__category-num { background-color: #f9f9f9 !important; font-size: 0.8em; padding: 17px; margin-bottom: 22px; }
@media screen and (min-width: 992px) { .course-paper .course-paper__category-num { margin-right: -8.33333333%; } }
.course-paper .course-paper__category-num > label { font-weight: 900; color: #378a25 !important; text-align: center; margin: 0 1em; }
.course-paper .course-paper__category-ul { width: 100%; font-size: 0.8em; color: #5c6466 !important; list-style: none; padding: 0; margin: 0; }
@media screen and (min-width: 992px) { .course-paper .course-paper__category-ul { width: 108.33333333%; margin-right: -8.33333333%; } }
.course-paper .course-paper__category-ul > li { list-style: none; width: 45%; float: left; padding: 4px 0; background-image: url(../images/course-paper/category-ul-bg.jpg) !important; background-repeat: repeat-x !important; background-position: center center !important; }
.course-paper .course-paper__category-ul > li .category-ul__title { background-color: #FFF !important; display: inline-block; /*text-align: justify;*/ width: auto; height: 1em; line-height: 1em; overflow: hidden; padding-right: 10px; }
.course-paper .course-paper__category-ul > li .category-ul__title i { display: none; width: 100%; height: 0; }
.course-paper .course-paper__category-ul > li .category-ul__num { float: right; background-color: #FFF !important; }
.course-paper .course-paper__category-ul > li .category-ul__num > label { padding-left: 10px; }
.course-paper .course-paper__category-ul > li:nth-child(odd) { margin-right: 5%; }
.course-paper .course-paper__category-ul > li:nth-child(even) { margin-left: 5%; }
@media screen and (max-width: 767px) { .course-paper .course-paper__category-ul > li { width: 100%; float: none; }
  .course-paper .course-paper__category-ul > li:nth-child(odd) { margin-right: 0%; }
  .course-paper .course-paper__category-ul > li:nth-child(even) { margin-left: 0%; } }
.course-paper .course-paper__category-img { margin-top: 50px; margin-left: -8.33333333%; }
@media screen and (min-width: 992px) { .course-paper .course-paper__category-img { margin-top: 20px; } }

@media print { .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
  .col-md-12 { width: 100%; }
  .col-md-11 { width: 91.66666667%; }
  .col-md-10 { width: 83.33333333%; }
  .col-md-9 { width: 75%; }
  .col-md-8 { width: 66.66666667%; }
  .col-md-7 { width: 58.33333333%; }
  .col-md-6 { width: 50%; }
  .col-md-5 { width: 41.66666667%; }
  .col-md-4 { width: 33.33333333%; }
  .col-md-3 { width: 25%; }
  .col-md-2 { width: 16.66666667%; }
  .col-md-1 { width: 8.33333333%; }
  .col-md-pull-12 { right: 100%; }
  .col-md-pull-11 { right: 91.66666667%; }
  .col-md-pull-10 { right: 83.33333333%; }
  .col-md-pull-9 { right: 75%; }
  .col-md-pull-8 { right: 66.66666667%; }
  .col-md-pull-7 { right: 58.33333333%; }
  .col-md-pull-6 { right: 50%; }
  .col-md-pull-5 { right: 41.66666667%; }
  .col-md-pull-4 { right: 33.33333333%; }
  .col-md-pull-3 { right: 25%; }
  .col-md-pull-2 { right: 16.66666667%; }
  .col-md-pull-1 { right: 8.33333333%; }
  .col-md-pull-0 { right: auto; }
  .col-md-push-12 { left: 100%; }
  .col-md-push-11 { left: 91.66666667%; }
  .col-md-push-10 { left: 83.33333333%; }
  .col-md-push-9 { left: 75%; }
  .col-md-push-8 { left: 66.66666667%; }
  .col-md-push-7 { left: 58.33333333%; }
  .col-md-push-6 { left: 50%; }
  .col-md-push-5 { left: 41.66666667%; }
  .col-md-push-4 { left: 33.33333333%; }
  .col-md-push-3 { left: 25%; }
  .col-md-push-2 { left: 16.66666667%; }
  .col-md-push-1 { left: 8.33333333%; }
  .col-md-push-0 { left: auto; }
  .col-md-offset-12 { margin-left: 100%; }
  .col-md-offset-11 { margin-left: 91.66666667%; }
  .col-md-offset-10 { margin-left: 83.33333333%; }
  .col-md-offset-9 { margin-left: 75%; }
  .col-md-offset-8 { margin-left: 66.66666667%; }
  .col-md-offset-7 { margin-left: 58.33333333%; }
  .col-md-offset-6 { margin-left: 50%; }
  .col-md-offset-5 { margin-left: 41.66666667%; }
  .col-md-offset-4 { margin-left: 33.33333333%; }
  .col-md-offset-3 { margin-left: 25%; }
  .col-md-offset-2 { margin-left: 16.66666667%; }
  .col-md-offset-1 { margin-left: 8.33333333%; }
  .col-md-offset-0 { margin-left: 0; }
  .visible-md { display: none !important; }
  .hidden-md { display: block !important; }
  table.hidden-md { display: table; }
  tr.hidden-md { display: table-row !important; }
  th.hidden-md, td.hidden-md { display: table-cell !important; }
  .hidden-md.hidden-print { display: none !important; }
  .hidden-md { display: none !important; }
  .visible-md { display: block !important; }
  table.visible-md { display: table; }
  tr.visible-md { display: table-row !important; }
  th.visible-md, td.visible-md { display: table-cell !important; }
  .border.line-forView { border: none; padding: 0px; border-radius: 0px; }
  .border.line-forPrint { border: 1px solid #CCC; padding: 1px; border-radius: 10px; }
  .HF-for-print { display: block !important; } }
@media print { .forPrint-block { width: 1024px; height: 1448px; display: flex; align-items: center; justify-content: center; }
  .forPrint-block .course-paper .forPrint-logo { display: block; } }
